<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the left "screen" icon Analysis on the start page from left to<br>&nbsp;&nbsp;right.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view analysis should be displayed with nine tiles (From top left to bottom<br>&nbsp;&nbsp;right: Function check pump</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile top right Kontroll-funktionen Mischer und Ventile</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;View Kontroll-funktionen Mischer und Ventile with a bold headline should be<br>&nbsp;&nbsp;displayed.  Three<br>&nbsp;&nbsp;possible controls including sliding element listed (control for mixer HK 1,<br>&nbsp;&nbsp;HK2 and HK3)</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;the Heizkreis screens under Ausgänge option in PGD</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Systemkontroll<br>&nbsp;&nbsp;should be activated with ! Mark appeared infront of the mixers</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;Mischer HK 1 M21.1</td>
    <td class="tg-s268">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-s268">In<br>&nbsp;&nbsp;the PGD test value should be set based on Ausgänge time from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">On<br>&nbsp;&nbsp;the PGD, under Outputs, a square should appear around the exclamation point<br>&nbsp;&nbsp;of the associated Mischer M21.1</td>
  </tr>
  <tr>
    <td class="tg-s268">7</td>
    <td class="tg-s268">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-s268">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-s268">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-s268">8</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;Mischer HK 2 M21.2</td>
    <td class="tg-s268">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-s268">In<br>&nbsp;&nbsp;the PGD test value should be set based on Ausgänge time from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-s268">9</td>
    <td class="tg-s268">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">On<br>&nbsp;&nbsp;the PGD, under Outputs, a square should appear around the exclamation point<br>&nbsp;&nbsp;of the associated Mischer M21.2</td>
  </tr>
  <tr>
    <td class="tg-s268">10</td>
    <td class="tg-s268">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-s268">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-s268">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-s268">11</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;Mixer Regenerative M27</td>
    <td class="tg-s268">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-s268">In<br>&nbsp;&nbsp;the PGD test value should be set based on Ausgänge time from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-s268">12</td>
    <td class="tg-s268">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">At<br>&nbsp;&nbsp;the PGD under Outputs a square should appear around the exclamation mark of<br>&nbsp;&nbsp;the associated mixer M27</td>
  </tr>
  <tr>
    <td class="tg-s268">13</td>
    <td class="tg-s268">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-s268">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-s268">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-0lax">14</td>
    <td class="tg-0lax">At<br>&nbsp;&nbsp;the UHI close the tile function control pump.Control at the PGD</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Previous<br>&nbsp;&nbsp;View Analysis should  appear in<br>&nbsp;&nbsp;Ausgänge. Hook on the PGD<br>&nbsp;&nbsp;must be disappeared</td>
  </tr>
</table>