<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-kiyi{font-weight:bold;border-color:inherit;text-align:left}
.tg .tg-xldj{border-color:inherit;text-align:left}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-kiyi">Step</th>
    <th class="tg-kiyi">Test steps</th>
    <th class="tg-kiyi">Test Data</th>
    <th class="tg-kiyi">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-xldj">1</td>
    <td class="tg-xldj">Unlock UHI</td>
    <td class="tg-xldj">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-xldj">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-xldj">2</td>
    <td class="tg-xldj">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-xldj"> </td>
    <td class="tg-xldj">Overview<br>&nbsp;&nbsp;Settings should be opened  with 9 tiles<br>&nbsp;&nbsp;displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1.Software Update<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Bildschrim Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Datum und Uhrzeit<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Individuelle Anpassungen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Wireless Hotspot<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Netwerk<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Sprache und Region<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Anzeige-optionen<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Registrierung</td>
  </tr>
  <tr>
    <td class="tg-xldj">3</td>
    <td class="tg-xldj">Click<br>&nbsp;&nbsp;on the tile Software Update.</td>
    <td class="tg-xldj"> </td>
    <td class="tg-xldj">Software<br>&nbsp;&nbsp;Update View should be displayed with following data: 1.Current software<br>&nbsp;&nbsp;version <br>&nbsp;&nbsp;&nbsp;&nbsp;2.Last updated date</td>
  </tr>
  <tr>
    <td class="tg-xldj">4</td>
    <td class="tg-xldj">Click<br>&nbsp;&nbsp;on the Update software button</td>
    <td class="tg-xldj">Case<br>&nbsp;&nbsp;1:<br>&nbsp;&nbsp;&nbsp;&nbsp;Pop-Up with the following message <br>&nbsp;&nbsp;should be appeared: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Message "Your system is already up to date." <br>&nbsp;&nbsp;&nbsp;&nbsp;2. Buttons: OK</td>
    <td class="tg-xldj">1.<br>&nbsp;&nbsp;Software update should not be possible when the UHI software is up to<br>&nbsp;&nbsp;date<br>&nbsp;&nbsp;&nbsp;&nbsp;2. By clicking OK button, popup should be disappeared</td>
  </tr>
  <tr>
    <td class="tg-xldj"> </td>
    <td class="tg-xldj"> </td>
    <td class="tg-xldj">Case<br>&nbsp;&nbsp;2:<br>&nbsp;&nbsp;&nbsp;&nbsp;Pop-Up with the following message <br>&nbsp;&nbsp;should be appeared: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Message "This action restarts the device. Please don’t disconnect<br>&nbsp;&nbsp;the network" <br>&nbsp;&nbsp;&nbsp;&nbsp;2. Buttons: OK Cancel</td>
    <td class="tg-xldj">1.<br>&nbsp;&nbsp;By clicking OK button, UHI should restart immediately to download and install<br>&nbsp;&nbsp;the new updates <br>&nbsp;&nbsp;&nbsp;&nbsp;2. By clicking Cancel button, update popup should be disappeared</td>
  </tr>
  <tr>
    <td class="tg-xldj">5</td>
    <td class="tg-xldj">Unlock<br>&nbsp;&nbsp;UHI</td>
    <td class="tg-xldj">After<br>&nbsp;&nbsp;completing the software update</td>
    <td class="tg-xldj">Unlocked<br>&nbsp;&nbsp;with "I-symbol" (customer service level), password gdtskd</td>
  </tr>
  <tr>
    <td class="tg-xldj">6</td>
    <td class="tg-xldj">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-xldj"> </td>
    <td class="tg-xldj">Overview<br>&nbsp;&nbsp;Settings should be opened  with 9 tiles<br>&nbsp;&nbsp;displayed: Software Update</td>
  </tr>
  <tr>
    <td class="tg-xldj">7</td>
    <td class="tg-xldj">Click<br>&nbsp;&nbsp;on the tile Software Update.</td>
    <td class="tg-xldj"> </td>
    <td class="tg-xldj">Software<br>&nbsp;&nbsp;Update View should be displayed with following data: 1.Version (updated<br>&nbsp;&nbsp;version) <br>&nbsp;&nbsp;&nbsp;&nbsp;2.Todays date (if updated today)</td>
  </tr>
  <tr>
    <td class="tg-xldj">8</td>
    <td class="tg-xldj">Click<br>&nbsp;&nbsp;on Software Update tile with no internet.</td>
    <td class="tg-xldj">Remove<br>&nbsp;&nbsp;the network cable from the UHI</td>
    <td class="tg-xldj">Software<br>&nbsp;&nbsp;Update View should be displayed with following data: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Last update version<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Last updated date</td>
  </tr>
  <tr>
    <td class="tg-0pky">9</td>
    <td class="tg-0pky">Click<br>&nbsp;&nbsp;on Update Software</td>
    <td class="tg-0pky">Leave<br>&nbsp;&nbsp;the network cable removed from the UHI</td>
    <td class="tg-0pky">An<br>&nbsp;&nbsp;alert message should be appeared: "Unable to connect to the update<br>&nbsp;&nbsp;server, please check your network connection."</td>
  </tr>
</table>