<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Pull<br>&nbsp;&nbsp;the "Toolbox" icon (EasyOn) shown below from bottom to top.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Four<br>&nbsp;&nbsp;tiles should be displayed. <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Anheizprogramme<br>&nbsp;&nbsp;&nbsp;&nbsp;2. EasyOn OnScreen<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Anlagen Setup<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Funktionssperren</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Easyon OnScreen tile</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">A<br>&nbsp;&nbsp;new view should be displayed for setting up EasyOn </td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Choose<br>&nbsp;&nbsp;Betriebsweise</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;displayed options depends on WPM config</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;following options should be listed for user selection:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Monovalent<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Monoenergetisch<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Bivalent<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Regenerativ</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;settings icon on the right of the each options</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;setting options displayed depends on WPM config</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;available options should be listed for user selection</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;Einstellwerte to comback previous page</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">User<br>&nbsp;&nbsp;should be arrived in Betriebsweise page</td>
  </tr>
  <tr>
    <td class="tg-s268">7</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Next on the right bottom</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;displayed options depends on HK1 config</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;HK1 with heating / cooling options should be displayed for user<br>&nbsp;&nbsp;selection:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Heizen<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heizen / Dyn. Kühlen<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Heizen / Still Kühlen<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Dyn. Kühlen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Still Kühlen </td>
  </tr>
  <tr>
    <td class="tg-s268">8</td>
    <td class="tg-s268">Select<br>&nbsp;&nbsp;any option and click Next</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;HK1 regulung method should be displayed for user selection:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Außentemperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Festwert<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Raumtemperatur</td>
  </tr>
  <tr>
    <td class="tg-s268">9</td>
    <td class="tg-s268">Select<br>&nbsp;&nbsp;any option and click Next</td>
    <td class="tg-s268">If<br>&nbsp;&nbsp;user chose,<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Außentemperatur -&gt; Heizkurvepunkt<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Festwert -&gt; Festwertsolltemperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Raumtemperatur -&gt; Anzahl Raumregler</td>
    <td class="tg-s268">Based<br>&nbsp;&nbsp;on previous options, user should be navigated to next screen to choose,<br>&nbsp;&nbsp;Heizkurvepunkt (or) Festwertsolltemperatur (or) Anzahl Raumregler</td>
  </tr>
  <tr>
    <td class="tg-s268">10</td>
    <td class="tg-s268">Choose<br>&nbsp;&nbsp;an option and click Next</td>
    <td class="tg-s268">If<br>&nbsp;&nbsp;applicable</td>
    <td class="tg-s268">Warmwasserbereitung<br>&nbsp;&nbsp;screen should be displayed for user selection:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Fühler<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Thermostat</td>
  </tr>
  <tr>
    <td class="tg-s268">11</td>
    <td class="tg-s268">Choose<br>&nbsp;&nbsp;an option and click Next</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Warmwassersolltemperatur<br>&nbsp;&nbsp;screen should be displayed with + and - buttons</td>
  </tr>
  <tr>
    <td class="tg-s268">12</td>
    <td class="tg-s268">Fix<br>&nbsp;&nbsp;the Warmwassersolltemperatur and click Next</td>
    <td class="tg-s268">If<br>&nbsp;&nbsp;Zeitprogram chosen here, a new profile for Zirkulation should be created in<br>&nbsp;&nbsp;profiles -&gt; Warmwasser page</td>
    <td class="tg-s268">Zirkulation<br>&nbsp;&nbsp;screen should be displayed for user selection:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Nein<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Implus<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Zeitprogramm</td>
  </tr>
  <tr>
    <td class="tg-s268">13</td>
    <td class="tg-s268">Choose<br>&nbsp;&nbsp;an option and click Next</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Smart<br>&nbsp;&nbsp;Grid screen should be displayed for user selection:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Nein<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Ja</td>
  </tr>
  <tr>
    <td class="tg-s268">14</td>
    <td class="tg-s268">Choose<br>&nbsp;&nbsp;an option and click Next</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">User<br>&nbsp;&nbsp;should be moved to last screen of EasyOn to confirm the settings to be saved</td>
  </tr>
  <tr>
    <td class="tg-s268">15</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;Next</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">An<br>&nbsp;&nbsp;message "Configuration saved successfully" should be displayed</td>
  </tr>
  <tr>
    <td class="tg-s268">16</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;new configuration</td>
    <td class="tg-s268">Go<br>&nbsp;&nbsp;to EasyOn -&gt; Anlagen Setup -&gt; Refresh screen</td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;configuration should be displayed based on previous steps</td>
  </tr>
</table>