<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the left "screen" icon (Analysis) on the start page from left to<br>&nbsp;&nbsp;right.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view analysis should be displayed with nine tiles:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Kontroll-funktionen Pumpe<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Kontroll-funktionen Heizstab<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Kontroll-funktionen Mischer und Ventile<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Erzeugte Wärmemengen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Nächste Wartung<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Ein- und Ausgänge<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Anlagendaten<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Betriebsdaten<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Laufzeiten und Taktungen</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile Laufzeiten und Taktungen</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view should be opened with Laufzeiten and Taktungen information</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;by PGD whether the values ​​fit. (Menu + Enter -&gt; Docummentation-&gt; Laufzeiten)</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">All<br>&nbsp;&nbsp;values should be as same as in UHI</td>
  </tr>
</table>