<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-1wig">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-0lax">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-s268"> </td>
    <td class="tg-0lax">Settings<br>&nbsp;&nbsp;screen should be opened with 9 tiles from the mockup</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the tile Language and Region.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Available<br>&nbsp;&nbsp;UHI languages should be displayed. </td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on any language to change current language.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">New<br>&nbsp;&nbsp;UHI language should be selected and highlighted in red color </td>
  </tr>
  <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;to English.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Engilsh<br>&nbsp;&nbsp;should be selected and highlighted </td>
  </tr>
  <tr>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the back button on the top right.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Settings<br>&nbsp;&nbsp;screen should be displayed. Content of tiles should be rendered in English.</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;over language based on "5" selected posts in the UHI. (1st level, 2nd level, ...)</td>
    <td class="tg-0lax">Addendum<br>&nbsp;&nbsp;translation list follows</td>
    <td class="tg-0lax">All<br>&nbsp;&nbsp;controlled bodies should be  translated<br>&nbsp;&nbsp;correctly.</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Perform<br>&nbsp;&nbsp;this procedure for all other languages.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Content<br>&nbsp;&nbsp;should be changed to set languages.</td>
  </tr>
</table>