<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Overview<br>&nbsp;&nbsp;Settings should be opened  with 9 tiles<br>&nbsp;&nbsp;displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1.Software Update<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Bildschrim Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Datum und Uhrzeit<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Individuelle Anpassungen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Wireless Hotspot<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Netwerk<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Sprache und Region<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Anzeige-optionen<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Registrierung</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile Individuelle Anpassungen</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">A<br>&nbsp;&nbsp;new view should be opened with following options:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Heizkreise (edit option)<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Raum - if applicable (edit option)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Systemprofile erstellen</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Heizkreise</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;total number of Heating circuits depends on config</td>
    <td class="tg-s268">A<br>&nbsp;&nbsp;new page should be opened with all heating circuits edit option</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on edit on the top right</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">A<br>&nbsp;&nbsp;pen icon should be appeared to the right of each heating circuit indicated.</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the pen to the right of HK1</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Heating<br>&nbsp;&nbsp;circuit name should be editable with keyboard popup in the bottom</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Save<br>&nbsp;&nbsp;the new name of HK 1</td>
    <td class="tg-0lax">&gt;<br>&nbsp;&nbsp;It can't be empty<br>&nbsp;&nbsp;&nbsp;&nbsp;&gt; It cant be same name with other HK</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;new name should be saved in the Heizkreise screen and changed over entire UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the HK 2 name as before</td>
    <td class="tg-0lax">Follow<br>&nbsp;&nbsp;steps from 5 to 7 for HK 2</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;new name should be saved in the Heizkreise screen for HK 2 and changed over<br>&nbsp;&nbsp;entire UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;on Heizkreise in the top left</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Previous<br>&nbsp;&nbsp;view should be dispalyed with following options:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Heizkreise (edit option)<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Raum - if applicable (edit option)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Systemprofile erstellen</td>
  </tr>
  <tr>
    <td class="tg-0lax">10</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Raum</td>
    <td class="tg-0lax">Open<br>&nbsp;&nbsp;total number of rooms depends on config</td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new page should be opened with all rooms edit option</td>
  </tr>
  <tr>
    <td class="tg-0lax">11</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on edit on the top right</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;pen icon should be appeared to the right of each rooms indicated.</td>
  </tr>
  <tr>
    <td class="tg-0lax">12</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the pen to the right of RAUM_50</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Room<br>&nbsp;&nbsp;names should be editable with keyboard popup in the bottom</td>
  </tr>
  <tr>
    <td class="tg-0lax">13</td>
    <td class="tg-0lax">Save<br>&nbsp;&nbsp;the new name of RAUM_50</td>
    <td class="tg-0lax">&gt;<br>&nbsp;&nbsp;It can't be empty<br>&nbsp;&nbsp;&nbsp;&nbsp;&gt; It can't be same name with other rooms</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;new name should be saved in the Raum screen and changed over entire UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">14</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the RAUM_60 name as before</td>
    <td class="tg-0lax">Follow<br>&nbsp;&nbsp;steps from 11 to 13 for RAUM_51 to RAUM_69</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;new name should be saved in the Raum screen for RAUM_60 and changed over<br>&nbsp;&nbsp;entire UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">15</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;on Raum in the top left</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Previous<br>&nbsp;&nbsp;view should be dispalyed with following options:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Heizkreise (edit option)<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Raum - (edit option)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Systemprofile erstellen</td>
  </tr>
  <tr>
    <td class="tg-0lax">16</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Systemprofile erstellen</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Systemprofile<br>&nbsp;&nbsp;erstellen page should be opened with empty page and add profile button at the<br>&nbsp;&nbsp;bottom</td>
  </tr>
  <tr>
    <td class="tg-0lax">17</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;on Profil hinzufügen</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be displayed with profile name text box and QWERTZ keyboard<br>&nbsp;&nbsp;at the bottom</td>
  </tr>
  <tr>
    <td class="tg-0lax">18</td>
    <td class="tg-0lax">Save<br>&nbsp;&nbsp;the new profile </td>
    <td class="tg-0lax">&gt;<br>&nbsp;&nbsp;It can't be empty<br>&nbsp;&nbsp;&nbsp;&nbsp;&gt; It can't be same name with other rooms</td>
    <td class="tg-0lax">An<br>&nbsp;&nbsp;popup with message "Das Profil wurde erfolgreich angelegt" with OK<br>&nbsp;&nbsp;button in the bottom should be displayed.</td>
  </tr>
  <tr>
    <td class="tg-0lax">19</td>
    <td class="tg-0lax">Select<br>&nbsp;&nbsp;the new profile</td>
    <td class="tg-0lax">After<br>&nbsp;&nbsp;successful creation, new profile is added to the list</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected profile should be highlighted in bold with red color</td>
  </tr>
  <tr>
    <td class="tg-0lax">20</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the arrow to the right of selected profile</td>
    <td class="tg-0lax">This<br>&nbsp;&nbsp;options are based on WP config from EasyOn</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;following options should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Warmwasser (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Thermische Desinfektion / Nachwärmung<br>&nbsp;&nbsp;&nbsp;&nbsp;- Warmwasser Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heizkreise<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 1<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 2 (If applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Raum (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 50 to 59<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 60 to 69</td>
  </tr>
  <tr>
    <td class="tg-0lax">21</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the arrow to the right of Thermal Disinfection / Nachwärmung</td>
    <td class="tg-0lax">For<br>&nbsp;&nbsp;Nachwärmung, Referenztemperatur is from 60°C to 70°C<br>&nbsp;&nbsp;&nbsp;&nbsp;For Thermal Disinfection, Referenztemperatur from 70°C to 85°C</td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with Thermal disinfection / Nachwärmung<br>&nbsp;&nbsp;Wochenverlauf.</td>
  </tr>
  <tr>
    <td class="tg-0lax">22</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Edit from right top of the screen </td>
    <td class="tg-0lax">Thermal<br>&nbsp;&nbsp;Disinfection / Nachwärmung is always fixed to 4 hours running time.</td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with following options:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Start and end time <br>&nbsp;&nbsp;&nbsp;&nbsp;2. Referenztemperatur ribbon with - and + buttons</td>
  </tr>
  <tr>
    <td class="tg-0lax">23</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the start and end time</td>
    <td class="tg-0lax">Start<br>&nbsp;&nbsp;time 9:00 <br>&nbsp;&nbsp;&nbsp;&nbsp;End time 13:00</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;time bar should be movable by the user to change the start and end times</td>
  </tr>
  <tr>
    <td class="tg-0lax">24</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the Referenztemperatur </td>
    <td class="tg-0lax">Set<br>&nbsp;&nbsp;70°C. Either + and - buttons (or) ribbon slider</td>
    <td class="tg-0lax">User<br>&nbsp;&nbsp;should be able to set the desired <br>&nbsp;&nbsp;Referenztemperatur </td>
  </tr>
  <tr>
    <td class="tg-0lax">25</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;Fertig from top right corner and check PGD / WPM for values</td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;-&gt; Einstellungen -&gt; Warmwasser -&gt; Thermische Desinfektion /<br>&nbsp;&nbsp;Nachwärmung</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;changed referenztemperatur and start time should be communicated to WPM<br>&nbsp;&nbsp;properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">26</td>
    <td class="tg-0lax">Choose<br>&nbsp;&nbsp;Wochenverlauf by clicking the appropriate block</td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, it is empty. Choose Mo, Di, Fr</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected days should be higlighted in desired temperature 70°C from previous<br>&nbsp;&nbsp;screen</td>
  </tr>
  <tr>
    <td class="tg-0lax">27</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;PGD / WPM for Wochenverlauf</td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;-&gt; Einstellungen -&gt; Warmwasser -&gt; Thermische Desinfektion /<br>&nbsp;&nbsp;Nachwärmung</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;changed referenztemperatur and start time should be communicated to WPM<br>&nbsp;&nbsp;properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">28</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the header Thermische Desinkeftion / Nachwärmung to comeback to profile<br>&nbsp;&nbsp;page</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;following options should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Warmwasser (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Thermische Desinfektion / Nachwärmung<br>&nbsp;&nbsp;&nbsp;&nbsp;- Warmwasser Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heizkreise<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 1<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 2 (If applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Raum (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 50 to 59<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 60 to 69</td>
  </tr>
  <tr>
    <td class="tg-0lax">29</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the arrow to the right of Warmwasser Sperre</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with Warmwasser Sperre Wochenverlauf.</td>
  </tr>
  <tr>
    <td class="tg-0lax">30</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Edit from right top of the screen </td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, there should be two time bars for WW sperre</td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with following options:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Start and end times of two time bars <br>&nbsp;&nbsp;&nbsp;&nbsp;2. A ribbon with Min.Ww temperatur and Ww soll temperatur selectors along<br>&nbsp;&nbsp;with - and + buttons</td>
  </tr>
  <tr>
    <td class="tg-0lax">31</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the start and end time</td>
    <td class="tg-0lax">Time<br>&nbsp;&nbsp;1: Start time 9:00 End time 12:00<br>&nbsp;&nbsp;&nbsp;&nbsp;Time 2: Start time 14:00 End time 17:00</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;time bar should be movable by the user to change the start and end times</td>
  </tr>
  <tr>
    <td class="tg-0lax">32</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the Min.Ww temperatur and Ww soll temperatur by selectors </td>
    <td class="tg-0lax">Set<br>&nbsp;&nbsp;Min.Ww temperatur 35° and Ww soll temperatur 60° by either + and - buttons<br>&nbsp;&nbsp;(or) ribbon slider</td>
    <td class="tg-0lax">User<br>&nbsp;&nbsp;should be able to set the desired <br>&nbsp;&nbsp;Min.Ww temperatur and Ww soll temperatures </td>
  </tr>
  <tr>
    <td class="tg-0lax">33</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;Fertig from top right corner and check PGD / WPM for values</td>
    <td class="tg-0lax">For<br>&nbsp;&nbsp;WWSolltemp: Menu -&gt; Einstellungen -&gt; Warmwasser -&gt; Wwsolltemp<br>&nbsp;&nbsp;&nbsp;&nbsp;For WWMintemp: Menu -&gt; Einstellungen -&gt; Warmwasser -&gt; Wwsperre<br>&nbsp;&nbsp;-&gt; WWMin.temp<br>&nbsp;&nbsp;&nbsp;&nbsp;For Start and end times: Menu -&gt; Einstellungen -&gt; Warmwasser -&gt;<br>&nbsp;&nbsp;Wwsperre -&gt; WWSperre</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;changed Min.Ww temperatur,  Ww soll<br>&nbsp;&nbsp;temperatures, start and end times should be communicated to WPM properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">34</td>
    <td class="tg-0lax">Choose<br>&nbsp;&nbsp;Wochenverlauf by clicking the appropriate blocks</td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, it is empty. Choose <br>&nbsp;&nbsp;&nbsp;&nbsp;Time 1: Mo, Di, Fr<br>&nbsp;&nbsp;&nbsp;&nbsp;Time 2: Mi, Do, Fr, So</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected days should be higlighted in Min.WW temperature 35°C from previous<br>&nbsp;&nbsp;screen</td>
  </tr>
  <tr>
    <td class="tg-0lax">35</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;PGD / WPM for Wochenverlauf</td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;-&gt; Einstellungen -&gt; Warmwasser -&gt; Warmwasser sperre</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;set start and end times, Wochenverlauf should be communicated to WPM properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">36</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the header Warmwasser Sperre to comeback to profile page</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;following options should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Warmwasser (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Thermische Desinfektion / Nachwärmung<br>&nbsp;&nbsp;&nbsp;&nbsp;- Warmwasser Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heizkreise<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 1(Außentemperatur)<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 2 (If applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Raum (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 50 to 59<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 60 to 69</td>
  </tr>
  <tr>
    <td class="tg-0lax">37</td>
    <td class="tg-0lax">Setup<br>&nbsp;&nbsp;Außentemperatur to HK1</td>
    <td class="tg-0lax">Setup<br>&nbsp;&nbsp;via EasyOn OnScreen. For detailed steps, please follow UHI-30</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;new configuration should be accepted in UHI and WPM</td>
  </tr>
  <tr>
    <td class="tg-0lax">38</td>
    <td class="tg-0lax">Create<br>&nbsp;&nbsp;new profile in profiles page</td>
    <td class="tg-0lax">After<br>&nbsp;&nbsp;every change in WP config, user must create a new profile to setup profiles.<br>&nbsp;&nbsp;The older profiles are outdated with warning message </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new profile should be successfully created with success message</td>
  </tr>
  <tr>
    <td class="tg-0lax">39</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the arrow to the right of HK1</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with HK1 Wochenverlauf.</td>
  </tr>
  <tr>
    <td class="tg-0lax">40</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Edit from right top of the screen </td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, there should be two time bars for HK1</td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with following options:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Start and end times of two time bars <br>&nbsp;&nbsp;&nbsp;&nbsp;2. A ribbon with Heizkurve and Anhebung/Absenkung selectors along with -<br>&nbsp;&nbsp;and + buttons</td>
  </tr>
  <tr>
    <td class="tg-0lax">41</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the start and end time</td>
    <td class="tg-0lax">Time<br>&nbsp;&nbsp;1: Start time 9:00 End time 12:00<br>&nbsp;&nbsp;&nbsp;&nbsp;Time 2: Start time 14:00 End time 17:00</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;time bar should be movable by the user to change the start and end times</td>
  </tr>
  <tr>
    <td class="tg-0lax">42</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the Heizkurve and Anhebung/Absenkung values by selectors </td>
    <td class="tg-0lax">Heizkurve<br>&nbsp;&nbsp;value goes from -19° to 19° and Anhebung / Absenkung goes from -19° to 19° by<br>&nbsp;&nbsp;either + and - buttons (or) ribbon slider</td>
    <td class="tg-0lax">User<br>&nbsp;&nbsp;should be able to set the desired <br>&nbsp;&nbsp;Heizkurve and Anhebung temperatures </td>
  </tr>
  <tr>
    <td class="tg-0lax">43</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;Fertig from top right corner and check PGD / WPM for values</td>
    <td class="tg-0lax">Anhenung<br>&nbsp;&nbsp;/ Absenkung wert calculates by UHI which is Heizkurve -<br>&nbsp;&nbsp;Anhebung / Absenkung value<br>&nbsp;&nbsp;&nbsp;&nbsp;E.g., Heizkurve(1°)-Anhebung(5°) = Anhebungwert(4°)<br>&nbsp;&nbsp;&nbsp;&nbsp;For Anhebung / Absenkung wert: Menu -&gt; Einstellungen -&gt; Heizkreis<br>&nbsp;&nbsp;-&gt; Anhebung / Absenkung -&gt; Anhebung / Absenkungwert (K)<br>&nbsp;&nbsp;&nbsp;&nbsp;For Start and end times: Menu -&gt; Einstellungen -&gt; Heizkreis -&gt;<br>&nbsp;&nbsp;Anhebung / Absenkung -&gt; Anhebung / Absenkung </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;changed Heizkurve value, start and end times should be communicated to WPM<br>&nbsp;&nbsp;properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">44</td>
    <td class="tg-0lax">Choose<br>&nbsp;&nbsp;Wochenverlauf by clicking the appropriate blocks</td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, it is empty. Choose <br>&nbsp;&nbsp;&nbsp;&nbsp;Time 1: Mo, Di, Fr<br>&nbsp;&nbsp;&nbsp;&nbsp;Time 2: Mi, Do, Fr, So<br>&nbsp;&nbsp;&nbsp;&nbsp;In PGD, Menu -&gt; Einstellungen -&gt; Heizkreis -&gt; Anhebung / Absenkung<br>&nbsp;&nbsp;-&gt; Anhebung / Absenkung </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected running days should be higlighted in Anhebung / Absenkungwert (4°)<br>&nbsp;&nbsp;from previous screen</td>
  </tr>
  <tr>
    <td class="tg-0lax">45</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;PGD / WPM for Wochenverlauf</td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;-&gt; Einstellungen -&gt; Heizkreis -&gt; Anhebung / Absenkung -&gt; Zeit 1<br>&nbsp;&nbsp;&amp; 2</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected Wochenverlauf days should be communicated to WPM properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">46</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the header HK1 to comeback to profile page</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;following options should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Warmwasser (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Thermische Desinfektion / Nachwärmung<br>&nbsp;&nbsp;&nbsp;&nbsp;- Warmwasser Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heizkreise<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 1(Festwert)<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 2 (If applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Raum (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 50 to 59<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 60 to 69</td>
  </tr>
  <tr>
    <td class="tg-0lax">47</td>
    <td class="tg-0lax">Setup<br>&nbsp;&nbsp;Festwert to HK1</td>
    <td class="tg-0lax">Setup<br>&nbsp;&nbsp;via EasyOn OnScreen. For detailed steps, please follow UHI-30</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;new configuration should be accepted in UHI and WPM</td>
  </tr>
  <tr>
    <td class="tg-0lax">48</td>
    <td class="tg-0lax">Create<br>&nbsp;&nbsp;new profile in profiles page</td>
    <td class="tg-0lax">After<br>&nbsp;&nbsp;every change in WP config, user must create a new profile to setup profiles.<br>&nbsp;&nbsp;The older profiles are outdated with warning message </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new profile should be successfully created with success message</td>
  </tr>
  <tr>
    <td class="tg-0lax">49</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the arrow to the right of HK1</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with HK1 Wochenverlauf.</td>
  </tr>
  <tr>
    <td class="tg-0lax">50</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Edit from right top of the screen </td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, there should be two time bars for HK1</td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with following options:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Start and end times of two time bars <br>&nbsp;&nbsp;&nbsp;&nbsp;2. A ribbon with Refernztemperatur and Anhebung/Absenkung selectors along<br>&nbsp;&nbsp;with - and + buttons</td>
  </tr>
  <tr>
    <td class="tg-0lax">51</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the start and end time</td>
    <td class="tg-0lax">Time<br>&nbsp;&nbsp;1: Start time 9:00 End time 12:00<br>&nbsp;&nbsp;&nbsp;&nbsp;Time 2: Start time 14:00 End time 17:00</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;time bar should be movable by the user to change the start and end times</td>
  </tr>
  <tr>
    <td class="tg-0lax">52</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the Referenztemperatur and Anhebung/Absenkung values by selectors </td>
    <td class="tg-0lax">Referenztemperatur<br>&nbsp;&nbsp;value goes from 18° to 55° and Anhebung / Absenkung goes from 18° to 55° by<br>&nbsp;&nbsp;either + and - buttons (or) ribbon slider</td>
    <td class="tg-0lax">User<br>&nbsp;&nbsp;should be able to set the desired <br>&nbsp;&nbsp;Referenztemperatur and Anhebung temperatures </td>
  </tr>
  <tr>
    <td class="tg-0lax">53</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;Fertig from top right corner and check PGD / WPM for values</td>
    <td class="tg-0lax">Anhenung<br>&nbsp;&nbsp;/ Absenkung wert calculates by UHI which is<br>&nbsp;&nbsp;Referenztemperatur - Anhebung / Absenkung value<br>&nbsp;&nbsp;&nbsp;&nbsp;E.g., Referenztemperatur(18°)-Anhebung(28°) = Anhebungwert(10°)<br>&nbsp;&nbsp;&nbsp;&nbsp;For Referenztemperatur: Menu -&gt; Einstellungen<br>&nbsp;&nbsp;-&gt; Heizkreis -&gt; Festwertregulung Rücklaufsolltemperatur (°C)<br>&nbsp;&nbsp;&nbsp;&nbsp;For Anhebung / Absenkung wert: Menu -&gt; Einstellungen -&gt; Heizkreis -&gt; Anhebung /<br>&nbsp;&nbsp;Absenkung -&gt; Anhebung / Absenkungwert (K)<br>&nbsp;&nbsp;&nbsp;&nbsp;For Start and end times: Menu -&gt; Einstellungen -&gt; Heizkreis -&gt; Anhebung /<br>&nbsp;&nbsp;Absenkung -&gt; Anhebung / Absenkung </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;changed Referenztemperatur, start and end times should be communicated to WPM<br>&nbsp;&nbsp;properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">54</td>
    <td class="tg-0lax">Choose<br>&nbsp;&nbsp;Wochenverlauf by clicking the appropriate blocks</td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, it is empty. Choose <br>&nbsp;&nbsp;&nbsp;&nbsp;Time 1: Mo, Di, Fr<br>&nbsp;&nbsp;&nbsp;&nbsp;Time 2: Mi, Do, Fr, So<br>&nbsp;&nbsp;&nbsp;&nbsp;In PGD, Menu -&gt; Einstellungen -&gt; Heizkreis -&gt; Anhebung / Absenkung<br>&nbsp;&nbsp;-&gt; Anhebung / Absenkung </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected running days should be higlighted in Anhebung / Absenkungwert (10°)<br>&nbsp;&nbsp;from previous screen</td>
  </tr>
  <tr>
    <td class="tg-0lax">55</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;PGD / WPM for Wochenverlauf</td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;-&gt; Einstellungen -&gt; Heizkreis -&gt; Anhebung / Absenkung -&gt; Zeit 1<br>&nbsp;&nbsp;&amp; 2</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected Wochenverlauf days should be communicated to WPM properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">56</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the header HK1 to comeback to profile page</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;following options should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Warmwasser (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Thermische Desinfektion / Nachwärmung<br>&nbsp;&nbsp;&nbsp;&nbsp;- Warmwasser Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heizkreise<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 1(Raumregulung)<br>&nbsp;&nbsp;&nbsp;&nbsp;- HK 2 (If applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Raum (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 50 to 59<br>&nbsp;&nbsp;&nbsp;&nbsp;- Raum 60 to 69</td>
  </tr>
  <tr>
    <td class="tg-0lax">57</td>
    <td class="tg-0lax">Setup<br>&nbsp;&nbsp;Raumregulung to HK1</td>
    <td class="tg-0lax">Setup<br>&nbsp;&nbsp;via EasyOn OnScreen. For detailed steps, please follow UHI-30</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;new configuration should be accepted in UHI and WPM</td>
  </tr>
  <tr>
    <td class="tg-0lax">58</td>
    <td class="tg-0lax">Create<br>&nbsp;&nbsp;new profile in profiles page</td>
    <td class="tg-0lax">After<br>&nbsp;&nbsp;every change in WP config, user must create a new profile to setup profiles.<br>&nbsp;&nbsp;The older profiles are outdated with warning message </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new profile should be successfully created with success message</td>
  </tr>
  <tr>
    <td class="tg-0lax">59</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the arrow to the right of Räume -&gt; Raum_50</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with Raum_50 Wochenverlauf.</td>
  </tr>
  <tr>
    <td class="tg-0lax">60</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Edit from right top of the screen </td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, there should be two time bars for Raum_50</td>
    <td class="tg-0lax">A<br>&nbsp;&nbsp;new view should be opened with following options:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Start and end times of two time bars <br>&nbsp;&nbsp;&nbsp;&nbsp;2. A ribbon with Refernztemperatur and Anhebung/Absenkung selectors along<br>&nbsp;&nbsp;with - and + buttons</td>
  </tr>
  <tr>
    <td class="tg-0lax">61</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the start and end time</td>
    <td class="tg-0lax">Time<br>&nbsp;&nbsp;1: Start time 9:00 End time 12:00<br>&nbsp;&nbsp;&nbsp;&nbsp;Time 2: Start time 14:00 End time 17:00</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;time bar should be movable by the user to change the start and end times</td>
  </tr>
  <tr>
    <td class="tg-0lax">62</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;the Referenztemperatur and Anhebung/Absenkung values by selectors </td>
    <td class="tg-0lax">Referenztemperatur<br>&nbsp;&nbsp;value goes from 10° to 35° and Anhebung / Absenkung goes from 10° to 35° by<br>&nbsp;&nbsp;either + and - buttons (or) ribbon slider</td>
    <td class="tg-0lax">User<br>&nbsp;&nbsp;should be able to set the desired <br>&nbsp;&nbsp;Referenztemperatur and Anhebung temperatures </td>
  </tr>
  <tr>
    <td class="tg-0lax">63</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;Fertig from top right corner and check PGD / WPM for values</td>
    <td class="tg-0lax">For Referenztemperatur(10°): Menu<br>&nbsp;&nbsp;-&gt; Admin -&gt; Diagnose -&gt; Info Diagnose -&gt; Raumregulung -&gt; #E1<br>&nbsp;&nbsp;(°C)<br>&nbsp;&nbsp;&nbsp;&nbsp;For Anhebung / Absenkung temperatur(24°):  Menu -&gt; Admin -&gt;<br>&nbsp;&nbsp;Diagnose -&gt; Info Diagnose -&gt; Raumregulung -&gt; #E1 (°C)<br>&nbsp;&nbsp;&nbsp;&nbsp;For Start and end times:  Menu -&gt; Admin -&gt;<br>&nbsp;&nbsp;Diagnose -&gt; Info Diagnose -&gt; Raumregulung -&gt; #E1.</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;changed Referenztemperatur, start and end times should be communicated to WPM<br>&nbsp;&nbsp;properly</td>
  </tr>
  <tr>
    <td class="tg-0lax">64</td>
    <td class="tg-0lax">Choose<br>&nbsp;&nbsp;Wochenverlauf by clicking the appropriate blocks</td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, it is empty. Choose <br>&nbsp;&nbsp;&nbsp;&nbsp;Time 1: Mo, Di, Fr<br>&nbsp;&nbsp;&nbsp;&nbsp;Time 2: Mi, Do, Fr, So<br>&nbsp;&nbsp;&nbsp;&nbsp;In PGD,  Menu -&gt; Admin -&gt;<br>&nbsp;&nbsp;Diagnose -&gt; Info Diagnose -&gt; Raumregulung -&gt; #E1.</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected running days should be higlighted in Anhebung / Absenkungwert (24°)<br>&nbsp;&nbsp;from previous screen</td>
  </tr>
  <tr>
    <td class="tg-0lax">65</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;PGD / WPM for Wochenverlauf</td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;-&gt; Einstellungen -&gt; Heizkreis -&gt; Anhebung / Absenkung -&gt; Zeit 1<br>&nbsp;&nbsp;&amp; 2</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;selected Wochenverlauf days should be communicated to WPM properly</td>
  </tr>
</table>