<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked by<br>&nbsp;&nbsp;means of "I-symbol" (production), password p</td>
    <td class="tg-s268">Erstanmeldung<br>&nbsp;&nbsp;screen should be displayed with following information:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Anschluss WPM<br>&nbsp;&nbsp;&nbsp;&nbsp;2. IP-Adresse<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Software WPM<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Software UHI<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Software KKR<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Software WQIF<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Seriennummer WP<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Cloud Sync</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;Anschluss WPM info</td>
    <td class="tg-s268">Sync<br>&nbsp;&nbsp;error if more than 6 variables not match (or) No physical connection with WPM</td>
    <td class="tg-s268">Anschluss<br>&nbsp;&nbsp;WPM information should be changed to Sync error with total number of variable<br>&nbsp;&nbsp;mismatch</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the refresh icon on each software versions</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">UHI<br>&nbsp;&nbsp;should refresh the software version information and display current version</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on refresh icon near IP-Adresse and Cloud Sync</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;to different network</td>
    <td class="tg-s268">IP-Adresse<br>&nbsp;&nbsp;should refreshed with displaying new IP and Cloud Sync should be<br>&nbsp;&nbsp;"OK" </td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Disconnect<br>&nbsp;&nbsp;network connection from UHI / WPM during operation</td>
    <td class="tg-s268">tap<br>&nbsp;&nbsp;on refresh icon</td>
    <td class="tg-s268">IP-Adresse<br>&nbsp;&nbsp;should refreshed with displaying no IP and Cloud Sync should be<br>&nbsp;&nbsp;"Nein" </td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the arrow next to serial number WPM</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;to different serial number</td>
    <td class="tg-s268">Seriennummer<br>&nbsp;&nbsp;should refreshed with displaying new value </td>
  </tr>
</table>