<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;function code 89 in the PGD. </td>
    <td class="tg-s268">(Menue + Enter<br>&nbsp;&nbsp;-&gt; Menue + Mode -&gt; Diagnosis -&gt; Info Diagnosis -&gt; Function code)</td>
    <td class="tg-s268">Function code<br>&nbsp;&nbsp;with following functions should be activated:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Ww<br>&nbsp;&nbsp;&nbsp;&nbsp;2. KA<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Biv<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Sw</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Unlock<br>&nbsp;&nbsp;UHI</td>
    <td class="tg-s268">Unlocked<br>&nbsp;&nbsp;with "I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home<br>&nbsp;&nbsp;page should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Pull<br>&nbsp;&nbsp;the "Toolbox" icon (EasyOn) shown below from bottom to top.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Four<br>&nbsp;&nbsp;tiles should be displayed. <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Anheizprogramme<br>&nbsp;&nbsp;&nbsp;&nbsp;2. EasyOn OnScreen<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Anlagen Setup<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Funktionssperren</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile Funktionssperren</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;following options with Activate / Deactivate button should be<br>&nbsp;&nbsp;displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Warmwasser<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Schwimmbad<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Bivalent<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Regenerativ<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Aktiv Kühlen<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Passiv Kühlen</td>
  </tr>
  <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;freigegeben button on swimming pool</td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, all options are activated </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;button name should be changed to gesperrt in UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;in the PGD whether swimming pool lock is active. </td>
    <td class="tg-0lax">Menue<br>&nbsp;&nbsp;+ ESC -&gt; Einstellungen</td>
    <td class="tg-0lax">Schwimmbad<br>&nbsp;&nbsp;options should be disappeared from settings list</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;gesperrt button on swimming pool</td>
    <td class="tg-0lax">Button<br>&nbsp;&nbsp;name changed to freigegeben</td>
    <td class="tg-0lax">Schwimmbad<br>&nbsp;&nbsp;options should be appeared back to the settings list</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;freigegeben button on Aktiv Kühlen</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;button name should be changed to gesperrt in UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;in the PGD whether Aktiv Kühlen lock is active. </td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Aktiv<br>&nbsp;&nbsp;Kühlen options should be disappeared from list</td>
  </tr>
  <tr>
    <td class="tg-0lax">10</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;gesperrt button on Aktiv Kühlen</td>
    <td class="tg-0lax">Button<br>&nbsp;&nbsp;name changed to freigegeben</td>
    <td class="tg-0lax">Aktiv<br>&nbsp;&nbsp;Kühlen options should be appeared back to the list</td>
  </tr>
  <tr>
    <td class="tg-0lax">11</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;freigegeben button on Bivalent</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;button name should be changed to gesperrt in UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">12</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;in the PGD whether Bivalent lock is active. </td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;under, Menu -&gt; Ausgänge -&gt; 2.Wärmeerzeuger -&gt; M21 N1_N013 (Bivalent<br>&nbsp;&nbsp;pump)</td>
    <td class="tg-0lax">Bivalent<br>&nbsp;&nbsp;pump should be deactivated (x)  from<br>&nbsp;&nbsp;list</td>
  </tr>
  <tr>
    <td class="tg-0lax">13</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;gesperrt button on Bivalent</td>
    <td class="tg-0lax">Button<br>&nbsp;&nbsp;name changed to freigegeben</td>
    <td class="tg-0lax">Bivalent<br>&nbsp;&nbsp;pump should be activated to the list</td>
  </tr>
  <tr>
    <td class="tg-0lax">14</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;freigegeben button on Warmwasser</td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;default, all options are activated </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;button name should be changed to gesperrt in UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">15</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;in the PGD whether Warmwasser lock is active. </td>
    <td class="tg-0lax">Menue<br>&nbsp;&nbsp;+ ESC -&gt; Einstellungen</td>
    <td class="tg-0lax">Warmwasser<br>&nbsp;&nbsp;options should be disappeared from settings list</td>
  </tr>
  <tr>
    <td class="tg-0lax">16</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;gesperrt button on Warmwasser</td>
    <td class="tg-0lax">Button<br>&nbsp;&nbsp;name changed to freigegeben</td>
    <td class="tg-0lax">Warmwasser<br>&nbsp;&nbsp;options should be appeared back to the settings list</td>
  </tr>
  <tr>
    <td class="tg-0lax">17</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;freigegeben button on Passiv Kühlen</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;button name should be changed to gesperrt in UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">18</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;in the PGD whether Passiv Kühlen lock is active. </td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Passiv<br>&nbsp;&nbsp;Kühlen options should be disappeared from list</td>
  </tr>
  <tr>
    <td class="tg-0lax">19</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;gesperrt button on Passiv Kühlen</td>
    <td class="tg-0lax">Button<br>&nbsp;&nbsp;name changed to freigegeben</td>
    <td class="tg-0lax">Passiv<br>&nbsp;&nbsp;Kühlen options should be appeared back to the list</td>
  </tr>
  <tr>
    <td class="tg-0lax">20</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;freigegeben button on Regenerativ</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;button name should be changed to gesperrt in UHI</td>
  </tr>
  <tr>
    <td class="tg-0lax">21</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;in the PGD whether Regenerativ lock is active. </td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Regenerativ<br>&nbsp;&nbsp;options should be disappeared from list</td>
  </tr>
  <tr>
    <td class="tg-0lax">22</td>
    <td class="tg-0lax">Tap<br>&nbsp;&nbsp;gesperrt button on Regenerativ</td>
    <td class="tg-0lax">Button<br>&nbsp;&nbsp;name changed to freigegeben</td>
    <td class="tg-0lax">Regenerativ<br>&nbsp;&nbsp;options should be appeared back to the list</td>
  </tr>
</table>