<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the right "Home" icon on the start page from right to left.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view should be displayed with following tiles displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Systemzustand<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Systemstatus (9 tiles config)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Betriebsmodus<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Raumregulung (and/or) Haus<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Warmwasser (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Lüftung (if applicable)</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;the tile Systemzustand</td>
    <td class="tg-s268">with<br>&nbsp;&nbsp;4 tiles configuration (when HK 1 and HK 2 are Außentemperatur / Festwert)</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;Systemzustand tile should be displayed following information:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. All locks (sperre) - if active<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Anheizprogramm - if active<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Network status icon<br>&nbsp;&nbsp;&nbsp;&nbsp;4. WPM warnings icon<br>&nbsp;&nbsp;&nbsp;&nbsp;5. WPM sync error icon</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Systemzustand tile</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">A<br>&nbsp;&nbsp;new view should be opened with header "Systemmeldungen" and the<br>&nbsp;&nbsp;confirmed errors and locks by users should be displayed with date </td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the any locks listed in the screen</td>
    <td class="tg-s268">&gt;<br>&nbsp;&nbsp;Lock information can be confirmed with "Quittieren" button<br>&nbsp;&nbsp;again.<br>&nbsp;&nbsp;&nbsp;&nbsp;&gt; The lock number is read from table</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;lock with corresponding number should be dispalyed with follwoing<br>&nbsp;&nbsp;information:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Lock activated time (from to)<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Time information at lock transferred to GDTS service team<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Corresponding resolution for particular locks </td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Ältere Meldungen laden button</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;locks from system installation / Software update should be listed </td>
  </tr>
  <tr>
    <td class="tg-s268">7</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Weniger Meldungen anzeigen button</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;lock list should be shrinked with only first three locks listed</td>
  </tr>
  <tr>
    <td class="tg-s268">8</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the any errors listed in the screen</td>
    <td class="tg-s268">&gt;<br>&nbsp;&nbsp;Missed error information can be confirmed with "Quittieren" button<br>&nbsp;&nbsp;again.<br>&nbsp;&nbsp;&nbsp;&nbsp;&gt; The error number is read from table</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;error with corresponding number should be dispalyed with follwoing<br>&nbsp;&nbsp;information:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. error activated time (from to)<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Time information at error transferred to GDTS service team<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Corresponding resolution for particular errors </td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Ältere Meldungen laden button</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;errors from system installation / Software update should be listed </td>
  </tr>
  <tr>
    <td class="tg-0lax">10</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Weniger Meldungen anzeigen button</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;error list should be shrinked with only first three errors listed</td>
  </tr>
</table>