<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Overview<br>&nbsp;&nbsp;Settings should be opened  with 9 tiles<br>&nbsp;&nbsp;displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1.Software Update<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Bildschrim Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Datum und Uhrzeit<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Individuelle Anpassungen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Wireless Hotspot<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Netwerk<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Sprache und Region<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Anzeige-optionen<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Registrierung</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile Wireless Hotspot</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">A<br>&nbsp;&nbsp;new view with Wireless Hotspot header should be opened with:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. IP <br>&nbsp;&nbsp;&nbsp;&nbsp;2. SSID<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Passwort</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the Wifi icon</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Hotspot<br>&nbsp;&nbsp;should be activated with username and password displayed.</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Access<br>&nbsp;&nbsp;the UHI with GDTS Home app on smart devices</td>
    <td class="tg-s268">Connect<br>&nbsp;&nbsp;this hotspot to any Andriod, iOS devices</td>
    <td class="tg-s268">Device<br>&nbsp;&nbsp;should be connected to the hotspot. User should be<br>&nbsp;&nbsp;able to control the UHI via GDTS Home app</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Switch<br>&nbsp;&nbsp;off the Wifi hotspot</td>
    <td class="tg-s268">Tap<br>&nbsp;&nbsp;again on the Wifi icon</td>
    <td class="tg-s268">Hotspot<br>&nbsp;&nbsp;should be deactivated with username and password diappeared.</td>
  </tr>
</table>