<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Set function<br>&nbsp;&nbsp;code 19 in the WPM. </td>
    <td class="tg-s268">(Menue + ESC<br>&nbsp;&nbsp;-&gt; Menue + Mode -&gt; Diagnostics -&gt; Info diagnostic -&gt; function<br>&nbsp;&nbsp;code)</td>
    <td class="tg-s268">New function<br>&nbsp;&nbsp;code should be accepted by WPM </td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Unlock<br>&nbsp;&nbsp;UHI</td>
    <td class="tg-s268">Unlocked<br>&nbsp;&nbsp;with "I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home<br>&nbsp;&nbsp;page should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Setup<br>&nbsp;&nbsp;Raumregulng in HK1 (Raum 50)</td>
    <td class="tg-s268">1.<br>&nbsp;&nbsp;Connect Raumregulng device to WPM to simulate room control setup<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Make use of EasyOn -&gt; EasyOn on-screen to select Raumregulng in HK 1</td>
    <td class="tg-s268">Raumregulng<br>&nbsp;&nbsp;tile should be added in the Haus screen </td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile Raumregulung</td>
    <td class="tg-s268">Atleaset<br>&nbsp;&nbsp;one HK must be selected with Raumregulng in EasyOn<br>&nbsp;&nbsp;&nbsp;&nbsp;if, HK1 is Raumregulng - Raum 50<br>&nbsp;&nbsp;&nbsp;&nbsp;HK2 is Raumregulng - Raum 60</td>
    <td class="tg-s268">Detailed<br>&nbsp;&nbsp;view of Raum 50 (from HK1) should be displayed with Jetzt, Ziel temperatures.</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;Jetzt, Ziel temperatures from Room control device</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;communication status of Raumregulung in PGD under Menu + Enter -&gt;<br>&nbsp;&nbsp;Dokumentation -&gt; Erweiterung -&gt; RTM Econ Raum 50</td>
    <td class="tg-s268">Target<br>&nbsp;&nbsp;and actual temperature on the UHI should be as same as from Raumregulung<br>&nbsp;&nbsp;device</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Set<br>&nbsp;&nbsp;a new target temp. via<br>&nbsp;&nbsp;the temperature slider or the + button from Raumregulung screen</td>
    <td class="tg-s268">Optionally<br>&nbsp;&nbsp;selectable for all rooms of the HK1</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;target temperature should be changed to desired value </td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;by PGD / WPM if all values ​​have been accepted.</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;under Menue + ESC -&gt; Menue + Mode -&gt; Diagnostics -&gt; Info diagnostic<br>&nbsp;&nbsp;-&gt; Raumregulung -&gt; Raum 50</td>
    <td class="tg-0lax">All<br>&nbsp;&nbsp;values ​​from the UHI should be transferred to WPM.</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Change<br>&nbsp;&nbsp;rooms in HK 1 or HK 2</td>
    <td class="tg-0lax">By<br>&nbsp;&nbsp;swiping on the screen, user can see the next rooms of the HK 1 or switch to<br>&nbsp;&nbsp;the HK 2. (Depending on<br>&nbsp;&nbsp;number)</td>
    <td class="tg-0lax">Swiping<br>&nbsp;&nbsp;of screens should be enabled if more than one rooms or more than one HK with<br>&nbsp;&nbsp;Raumregulung option</td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;of all temperatures of the rooms of the HK1 (50, 51 ...) with the UHI and<br>&nbsp;&nbsp;WPM.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">All<br>&nbsp;&nbsp;rooms target and actual temperatures should be transferred from UHI to WPM</td>
  </tr>
  <tr>
    <td class="tg-0lax">10</td>
    <td class="tg-0lax">Setup<br>&nbsp;&nbsp;Raumregulng in HK2 (Raum 60)</td>
    <td class="tg-0lax">1.<br>&nbsp;&nbsp;Connect Raumregulng device to WPM to simulate room control setup<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Make use of EasyOn -&gt; EasyOn on-screen to select Raumregulng in HK 2</td>
    <td class="tg-0lax">Raumregulng<br>&nbsp;&nbsp;tile should be added in the Haus screen </td>
  </tr>
  <tr>
    <td class="tg-0lax">11</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the tile Raumregulung</td>
    <td class="tg-0lax">Atleaset<br>&nbsp;&nbsp;one HK must be selected with Raumregulng in EasyOn<br>&nbsp;&nbsp;&nbsp;&nbsp;if, HK1 is Raumregulng - Raum 50<br>&nbsp;&nbsp;&nbsp;&nbsp;HK2 is Raumregulng - Raum 60</td>
    <td class="tg-0lax">Detailed<br>&nbsp;&nbsp;view of Raum 60 (from HK2) should be displayed with Jetzt, Ziel temperatures.</td>
  </tr>
  <tr>
    <td class="tg-0lax">12</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;Jetzt, Ziel temperatures from Room control device</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;communication status of Raumregulung in PGD under Menu + Enter -&gt;<br>&nbsp;&nbsp;Dokumentation -&gt; Erweiterung -&gt; RTM Econ Raum 60</td>
    <td class="tg-0lax">Target<br>&nbsp;&nbsp;and actual temperature on the UHI should be as same as from Raumregulung<br>&nbsp;&nbsp;device</td>
  </tr>
  <tr>
    <td class="tg-0lax">13</td>
    <td class="tg-0lax">Set<br>&nbsp;&nbsp;a new target temp. via<br>&nbsp;&nbsp;the temperature slider or the + button from Raumregulung screen</td>
    <td class="tg-0lax">Optionally<br>&nbsp;&nbsp;selectable for all rooms of the HK1</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;target temperature should be changed to desired value </td>
  </tr>
  <tr>
    <td class="tg-0lax">14</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;of all temperatures of the rooms of the HK2 (60, 61 ...) with the UHI and<br>&nbsp;&nbsp;WPM.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">All<br>&nbsp;&nbsp;rooms target and actual temperatures should be transferred from UHI to WPM</td>
  </tr>
</table>