<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-s268{text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax">Unlock UHI</td>
    <td class="tg-0lax">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-0lax">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the left screen icon "Analysis" on the start page from left to<br>&nbsp;&nbsp;right.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view analysis should be displayed with nine tiles</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the top tile Kontroll-funktionen Heizstab </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Title<br>&nbsp;&nbsp;"Kontroll-funktionen Heizstab" in bold format should be displayed. Including two possible<br>&nbsp;&nbsp;controls including sliding element listed (electric heater and bivalent).</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Slide<br>&nbsp;&nbsp;the 2.Heat generator (E10.1 E-Heizstab) to activate</td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;controll activated by default from UHI</td>
    <td class="tg-0lax">1.<br>&nbsp;&nbsp;In Ausgänge, all devices should changed to ! (exclamation) to activate<br>&nbsp;&nbsp;function control <br>&nbsp;&nbsp;&nbsp;&nbsp;2. There should be an indication of square box around the ! Mark to show<br>&nbsp;&nbsp;E10.1 E-Heizstab activated under 2.Wärmeerzeuger</td>
  </tr>
  <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-0lax">Slide<br>&nbsp;&nbsp;the bar at E10.2-3 Bivalent</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">On<br>&nbsp;&nbsp;the PGD, under Outputs, a square should appear around the exclamation point<br>&nbsp;&nbsp;of the associated heater E10.2</td>
  </tr>
  <tr>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;of the pump is checked for actiaveted Ausgänge time.</td>
    <td class="tg-0lax">Slider<br>&nbsp;&nbsp;at UHI should return to starting position and Square should be disappeared at<br>&nbsp;&nbsp;the PGD</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-0lax">to<br>&nbsp;&nbsp;slide slider in the UHI to the right.</td>
    <td class="tg-0lax">In<br>&nbsp;&nbsp;the PGD, test value should be taken from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;of the pump is checked for actiaveted Ausgänge time.</td>
    <td class="tg-0lax">On<br>&nbsp;&nbsp;the PGD under Outputs a square should appear around the exclamation mark of<br>&nbsp;&nbsp;the associated unit E10.2-3</td>
  </tr>
  <tr>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Slider<br>&nbsp;&nbsp;at the UHI should return to the starting position after the function check<br>&nbsp;&nbsp;and Square should be disappeared at the PGD</td>
  </tr>
</table>