<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-1wig">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock<br>&nbsp;&nbsp;UHI</td>
    <td class="tg-s268">Unlocked<br>&nbsp;&nbsp;with "I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-0lax">Home<br>&nbsp;&nbsp;page should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-s268"> </td>
    <td class="tg-0lax">Settings<br>&nbsp;&nbsp;screen should be opened with 9 tiles from the mockup</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the tile network</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">IPv4<br>&nbsp;&nbsp;and IPv6 addresses should be displayed</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Close<br>&nbsp;&nbsp;the Network screen by clicking X mark from top right</td>
    <td class="tg-0lax">Disconnect<br>&nbsp;&nbsp;the network cable from UHI</td>
    <td class="tg-0lax">Ok<br>&nbsp;&nbsp;message should be disappeared from Network tile. IPv4 : 0.0.0.0 and IPv6: :::<br>&nbsp;&nbsp;should be diaplyed</td>
  </tr>
  <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-0lax">Insert<br>&nbsp;&nbsp;the network LAN cable to UHI and check network screen</td>
    <td class="tg-0lax">Without<br>&nbsp;&nbsp;refreshing or closing the screen</td>
    <td class="tg-0lax">IPv4<br>&nbsp;&nbsp;and IPv6 addresses should be updated and displayed.</td>
  </tr>
  <tr>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax">Disconnect<br>&nbsp;&nbsp;network connection from UHI / WPM during operation</td>
    <td class="tg-0lax">Pull<br>&nbsp;&nbsp;out the network plug</td>
    <td class="tg-0lax">Ok<br>&nbsp;&nbsp;message should be disappeared from Network tile. IPv4 : 0.0.0.0 and IPv6: :::<br>&nbsp;&nbsp;should be diaplyed</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Test<br>&nbsp;&nbsp;whether communication between console and WPM works</td>
    <td class="tg-0lax">Target<br>&nbsp;&nbsp;temperature of WW./ SB. change<br>&nbsp;&nbsp;target temp. Change<br>&nbsp;&nbsp;heating circuit / rooms Change operating mode</td>
    <td class="tg-0lax">Entered<br>&nbsp;&nbsp;settings should be accepted and transferred to the WPM.</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;whether changed set temp. / Operating modes are accepted in the WPM. (Menu)</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Values<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;whether the network tile can be influenced by the hot spot</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Without<br>&nbsp;&nbsp;LAN connection, Network tile should be empty even if hotspot active</td>
  </tr>
</table>