<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the right "Haus" icon (status) from right to left.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view should be displayed with following tiles displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Systemzustand<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Systemstatus (9 tiles config)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Betriebsmodus<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Raumregulung (and/or) Haus<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Warmwasser (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Lüftung (if applicable)</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile Betriebsmodus.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Betriebsmodus<br>&nbsp;&nbsp;page with following options should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;Automatik<br>&nbsp;&nbsp;&nbsp;&nbsp;- Heizen bis Grenzwert<br>&nbsp;&nbsp;&nbsp;&nbsp;- Kühlen bis Grenzwert<br>&nbsp;&nbsp;&nbsp;&nbsp;- Urlaub<br>&nbsp;&nbsp;&nbsp;&nbsp;- Party <br>&nbsp;&nbsp;&nbsp;&nbsp;Manuell<br>&nbsp;&nbsp;&nbsp;&nbsp;- Nur Warmwasser (Sommer)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Heizbetrieb (Winter)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Nur Heizstab (2.Wärmeerzeuger)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Kühlbetrieb (Kühlung)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Urlaub<br>&nbsp;&nbsp;&nbsp;&nbsp;- Party</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Automatik mode.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Automatik<br>&nbsp;&nbsp;mode should be highlighted in bold with automatik options enabled</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;heating and cooling limits in Automatik mode</td>
    <td class="tg-s268">Kühlen<br>&nbsp;&nbsp;limit only enabled if Kühlen is selected in EasyOn settings. Fix the<br>&nbsp;&nbsp;following values,<br>&nbsp;&nbsp;&nbsp;&nbsp;- Heizen bis Grenzwert to 17<br>&nbsp;&nbsp;&nbsp;&nbsp;- Kühlen bis Grenzwert to 24<br>&nbsp;&nbsp;&nbsp;&nbsp;- Time to 2h</td>
    <td class="tg-s268">All<br>&nbsp;&nbsp;changed values should be transferred to WPM under Menu -&gt; Modus -&gt;<br>&nbsp;&nbsp;Betriebsmodus<br>&nbsp;&nbsp;&nbsp;&nbsp;1. * appeared in front of<br>&nbsp;&nbsp;Zeit (2h  from UHI) checkbox if<br>&nbsp;&nbsp;Automatik mode is active<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heating (17) and Cooling(24) limits should be updated under<br>&nbsp;&nbsp;Außentemperatur </td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Urlaub in Automatik mode</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;PGD home screen right corner. If Automatik is activated, a single block is<br>&nbsp;&nbsp;shown</td>
    <td class="tg-s268">Automatik<br>&nbsp;&nbsp;mode with Urlaub should be activated in WPM</td>
  </tr>
  <tr>
    <td class="tg-s268">7</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;the Urlaub end date in Automatik mode</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;right arrow on Urlaub option to adjust the end date</td>
    <td class="tg-s268">UHI<br>&nbsp;&nbsp;should calculate the number of days and transferred to  WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268"> </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">PGD<br>&nbsp;&nbsp;home screen should be displayed with total number of Urlaub days in bottom</td>
  </tr>
  <tr>
    <td class="tg-s268">8</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;Automatik mode after Urlaub date is expired</td>
    <td class="tg-s268">Previous<br>&nbsp;&nbsp;mode must be selected as Automatik at least once</td>
    <td class="tg-s268">Once<br>&nbsp;&nbsp;Urlaub date is expired, the Betriebsmodus should be selected as Automatik<br>&nbsp;&nbsp;with previously selected mode (Winter, Sommer, 2.Wärmeerzeuger) option</td>
  </tr>
  <tr>
    <td class="tg-s268">9</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Party in Automatik mode</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;PGD home screen right corner. If Automatik is activated, a single block is<br>&nbsp;&nbsp;shown</td>
    <td class="tg-s268">Automatik<br>&nbsp;&nbsp;mode with Party should be activated in WPM</td>
  </tr>
  <tr>
    <td class="tg-s268">10</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;the Party end time in Automatik mode</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;right arrow on Party option to adjust the end time</td>
    <td class="tg-s268">UHI<br>&nbsp;&nbsp;should calculate the number of hours and transferred to  WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268"> </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">PGD<br>&nbsp;&nbsp;home screen should be displayed with total number of Party hours in bottom</td>
  </tr>
  <tr>
    <td class="tg-s268">11</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;Automatik mode after Party time is expired</td>
    <td class="tg-s268">Previous<br>&nbsp;&nbsp;mode must be selected as Automatik at least once</td>
    <td class="tg-s268">Once<br>&nbsp;&nbsp;Party time is expired, the Betriebsmodus should be selected as Automatik with<br>&nbsp;&nbsp;previously selected mode (Winter, Sommer, 2.Wärmeerzeuger) option</td>
  </tr>
  <tr>
    <td class="tg-s268">12</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Manuel mode. (Winter)</td>
    <td class="tg-s268">To<br>&nbsp;&nbsp;change from Automatik to Manuel mode, a click on Manuel options (or) tap<br>&nbsp;&nbsp;again on Automatik mode is enough</td>
    <td class="tg-s268">Manuel<br>&nbsp;&nbsp;mode (Winter) should be highlighted in bold and transferred to WPM</td>
  </tr>
  <tr>
    <td class="tg-s268">13</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;Manuel modes</td>
    <td class="tg-s268">Kühlbetrieb<br>&nbsp;&nbsp;(Kühlung) option is only visible if cooling is enabled in EasyOn config.<br>&nbsp;&nbsp;Please refer to UHI-30 for detailed steps</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;selected new mode should be accepted from UHI and transferred to WPM:<br>&nbsp;&nbsp;&nbsp;&nbsp;Manuell<br>&nbsp;&nbsp;&nbsp;&nbsp;- Nur Warmwasser (Sommer)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Heizbetrieb (Winter)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Nur Heizstab (2.Wärmeerzeuger)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Kühlbetrieb (Kühlung)<br>&nbsp;&nbsp;&nbsp;&nbsp;- Urlaub<br>&nbsp;&nbsp;&nbsp;&nbsp;- Party</td>
  </tr>
  <tr>
    <td class="tg-s268">14</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Urlaub in Manuel mode</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;PGD home screen right corner. If Manuel is activated, all modus are shown</td>
    <td class="tg-s268">Manuel<br>&nbsp;&nbsp;mode with Urlaub should be activated in WPM</td>
  </tr>
  <tr>
    <td class="tg-s268">15</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;the Urlaub end date in Manuel mode</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;right arrow on Urlaub option to adjust the end date</td>
    <td class="tg-s268">UHI<br>&nbsp;&nbsp;should calculate the number of days and transferred to  WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268"> </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">PGD<br>&nbsp;&nbsp;home screen should be displayed with total number of Urlaub days in bottom</td>
  </tr>
  <tr>
    <td class="tg-s268">16</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;Manuel mode after Urlaub date is expired</td>
    <td class="tg-s268">Previous<br>&nbsp;&nbsp;mode must be selected other than Urlaub and Party</td>
    <td class="tg-s268">Once<br>&nbsp;&nbsp;Urlaub date is expired, the Betriebsmodus should be selected as Manuel with<br>&nbsp;&nbsp;previously selected mode (Winter, Sommer, 2.Wärmeerzeuger) option</td>
  </tr>
  <tr>
    <td class="tg-s268">17</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Party in Manuel mode</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;PGD home screen right corner. If Manuel is activated, all modus are shown</td>
    <td class="tg-s268">Manuel<br>&nbsp;&nbsp;mode with Party should be activated in WPM</td>
  </tr>
  <tr>
    <td class="tg-s268">18</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;the Party end time in Manuel mode</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;right arrow on Party option to adjust the end time</td>
    <td class="tg-s268">UHI<br>&nbsp;&nbsp;should calculate the number of hours and transferred to  WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268"> </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">PGD<br>&nbsp;&nbsp;home screen should be displayed with total number of Party hours in bottom</td>
  </tr>
  <tr>
    <td class="tg-s268">19</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;Manuel mode after Party time is expired</td>
    <td class="tg-s268">Previous<br>&nbsp;&nbsp;mode must be selected other than Urlaub and Party</td>
    <td class="tg-s268">Once<br>&nbsp;&nbsp;Party time is expired, the Betriebsmodus should be selected as Manuel with<br>&nbsp;&nbsp;previously selected mode (Winter, Sommer, 2.Wärmeerzeuger) option</td>
  </tr>
  <tr>
    <td class="tg-s268">20</td>
    <td class="tg-s268">Operating<br>&nbsp;&nbsp;mode cooling</td>
    <td class="tg-s268">Select<br>&nbsp;&nbsp;PGD function code 88, 89 with passive or active cooling</td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;function code should be accepted by WPM </td>
  </tr>
  <tr>
    <td class="tg-s268">21</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile operating mode</td>
    <td class="tg-s268">Cooling<br>&nbsp;&nbsp;not available in,<br>&nbsp;&nbsp;&nbsp;&nbsp;Automatik: Kühlen bis Grenzwert<br>&nbsp;&nbsp;&nbsp;&nbsp;Manuell: Kühlbetrieb (Kühlung)</td>
    <td class="tg-s268">Kühlbetrieb<br>&nbsp;&nbsp;(Kühlung) should not appeared in Automatik and Manuel modes</td>
  </tr>
  <tr>
    <td class="tg-0lax">22</td>
    <td class="tg-0lax">Setup<br>&nbsp;&nbsp;cooling in HK by EasyOn Onscreen</td>
    <td class="tg-0lax">Please<br>&nbsp;&nbsp;refer to UHI-30 for detailed steps</td>
    <td class="tg-0lax">Kühlbetrieb<br>&nbsp;&nbsp;(Kühlung) options should be activated in Automatik and Manuel<br>&nbsp;&nbsp;Betriebsmodus </td>
  </tr>
  <tr>
    <td class="tg-0lax">23</td>
    <td class="tg-0lax">Select<br>&nbsp;&nbsp;the cooling operating mode.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Selected<br>&nbsp;&nbsp;operating mode should be displayed in bold and transferred to the WPM.</td>
  </tr>
  <tr>
    <td class="tg-0lax">24</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the close button on the top right.</td>
    <td class="tg-0lax">Display<br>&nbsp;&nbsp;Automatik or Manuell with selected mode.</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;"Betriebsmodus" tile should be displayed with selected mode from<br>&nbsp;&nbsp;previous screen.</td>
  </tr>
  <tr>
    <td class="tg-0lax">25</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;whether the settings have been accepted correctly in the WPM. </td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;-&gt; Einstellungen -&gt; Modus</td>
    <td class="tg-0lax">Betriebsmodus<br>&nbsp;&nbsp;should be displayed with selected mode from UHI</td>
  </tr>
</table>