<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Pull<br>&nbsp;&nbsp;the "Toolbox" icon (EasyOn) shown below from bottom to top.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Four<br>&nbsp;&nbsp;tiles should be displayed. <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Anheizprogramme<br>&nbsp;&nbsp;&nbsp;&nbsp;2. EasyOn OnScreen<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Anlagen Setup<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Funktionssperren</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on tile heating programs in the UHI.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;"Anheizprogramme" menu with the following options should be<br>&nbsp;&nbsp;displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;- Funktionsheizen<br>&nbsp;&nbsp;&nbsp;&nbsp;- Belegreifheizen</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;values in Belegriefheizen</td>
    <td class="tg-s268">1.<br>&nbsp;&nbsp;Maximale temperature: 35 ° C<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Temperaturdifferenz Aufheizen: 10K<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Zeitdauer Aufheizen: 1h<br>&nbsp;&nbsp;&nbsp;&nbsp;4. 3. Zeitdauer Halten: 1h<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Temperaturdifferenz Abheizen: 10K<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Zeitdauer Abheizen: 1h</td>
    <td class="tg-s268">All<br>&nbsp;&nbsp;the changed values should be accepted by the UHI and transferred to WPM</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">WW./schwimmbadbereitung<br>&nbsp;&nbsp;over Slider activate</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">WW./Schwimmbad<br>&nbsp;&nbsp;should be activated</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Start<br>&nbsp;&nbsp;heating program via slider</td>
    <td class="tg-s268">Exposure<br>&nbsp;&nbsp;heating active</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;WPM display should show the overview of the heating program</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Message<br>&nbsp;&nbsp;with 60s timer appears.</td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;heating is activated</td>
    <td class="tg-0lax">After<br>&nbsp;&nbsp;60s, the window should be  closed.</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Stop<br>&nbsp;&nbsp;heating program via the slider in the UHI manually</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Anheizenprogram<br>&nbsp;&nbsp;should be stopped in WPM</td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;whether the settings have been accepted correctly in the WPM. (Menu<br>&nbsp;&nbsp;-&gt; Sonderfunktionen -&gt; Anheizeprogram)</td>
    <td class="tg-0lax">Maximum<br>&nbsp;&nbsp;temp .: 35 ° C <br>&nbsp;&nbsp;&nbsp;&nbsp;DHW / swimming pool: On <br>&nbsp;&nbsp;&nbsp;&nbsp;Function heating: No <br>&nbsp;&nbsp;&nbsp;&nbsp;Standard program Heating: No Heating Time duration: 1h <br>&nbsp;&nbsp;&nbsp;&nbsp;Hold Duration: 1h <br>&nbsp;&nbsp;&nbsp;&nbsp;Heating off Duration: 1h <br>&nbsp;&nbsp;&nbsp;&nbsp;Heating up Diff.-Temp: 10K <br>&nbsp;&nbsp;&nbsp;&nbsp;Heating off Diff.-Temp: 1K <br>&nbsp;&nbsp;&nbsp;&nbsp;Individual program Fresh heating: no</td>
    <td class="tg-0lax">All<br>&nbsp;&nbsp;values should be transferred correctly.</td>
  </tr>
  <tr>
    <td class="tg-0lax">10</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;after 1h, whether the WPM changes from heating to halt</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax"> </td>
  </tr>
  <tr>
    <td class="tg-0lax">11</td>
    <td class="tg-0lax">After<br>&nbsp;&nbsp;2h check if, the WPM changes from hold to heat off</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax"> </td>
  </tr>
  <tr>
    <td class="tg-0lax">12</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;after 3 hours, whether heating program is finished</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax"> </td>
  </tr>
</table>