<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Pull<br>&nbsp;&nbsp;the "Toolbox" icon (EasyOn) shown below from bottom to top.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Four<br>&nbsp;&nbsp;tiles should be displayed. <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Anheizprogramme<br>&nbsp;&nbsp;&nbsp;&nbsp;2. EasyOn OnScreen<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Anlagen Setup<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Funktionssperren</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on tile "Anheizprogramme" in the UHI.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;"Anheizprogramme" menu with the following options should be<br>&nbsp;&nbsp;displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;- Funktionsheizen<br>&nbsp;&nbsp;&nbsp;&nbsp;- Belegreifheizen</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Select<br>&nbsp;&nbsp;the Funktionsheizen</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;"Funktionsheizen" menu should be displayed with following<br>&nbsp;&nbsp;options:<br>&nbsp;&nbsp;&nbsp;&nbsp;- Maximale Temperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;- Warmwasserbereitung aktivieren<br>&nbsp;&nbsp;&nbsp;&nbsp;- Anheizprogramm starten</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the right arrow next to max. Temperature.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Maximale<br>&nbsp;&nbsp;Temperatur screen should be displayed.</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Setting<br>&nbsp;&nbsp;the temperature via + and - function.</td>
    <td class="tg-s268">25<br>&nbsp;&nbsp;° C</td>
    <td class="tg-s268">Temperature<br>&nbsp;&nbsp;should be set properly using the buttons.</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Activate<br>&nbsp;&nbsp;WW./schwimmbadbereitung over the slider </td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">WW./Schwimmbadb<br>&nbsp;&nbsp;should be activated</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Start<br>&nbsp;&nbsp;heating program via the slider</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;heating should be activated</td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Message<br>&nbsp;&nbsp;with 60s timer appears.</td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;heating is activated</td>
    <td class="tg-0lax">After<br>&nbsp;&nbsp;60s, the window should be closed.</td>
  </tr>
  <tr>
    <td class="tg-0lax">10</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;whether the settings have been accepted correctly in the WPM. </td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;under: Menu -&gt; Sonderfunktion -&gt; Anheizprogram)<br>&nbsp;&nbsp;&nbsp;&nbsp;Maximum temp .: 25 ° C WW./swimming pool: on<br>&nbsp;&nbsp;&nbsp;&nbsp;Functional heating: yes</td>
    <td class="tg-0lax">The<br>&nbsp;&nbsp;PGD should display the overview of the heating program.</td>
  </tr>
  <tr>
    <td class="tg-0lax">11</td>
    <td class="tg-0lax">Stop<br>&nbsp;&nbsp;heating program via the slider in the UHI manually</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">UHI<br>&nbsp;&nbsp;should end the heating program and passes this on to the WPM.</td>
  </tr>
</table>