<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Overview<br>&nbsp;&nbsp;Settings should be opened  with 9 tiles<br>&nbsp;&nbsp;displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1.Software Update<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Bildschrim Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Datum und Uhrzeit<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Individuelle Anpassungen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Wireless Hotspot<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Netwerk<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Sprache und Region<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Anzeige-optionen<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Registrierung</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on screen lock.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">View<br>&nbsp;&nbsp;for screen lock should be displayed with following options: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Auto lock timer slider (1, 3, 5, 15 min)<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Logout and User change button</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Change<br>&nbsp;&nbsp;the auto lock time </td>
    <td class="tg-s268">Select<br>&nbsp;&nbsp;3 mins from default time (5 mins)</td>
    <td class="tg-s268">After<br>&nbsp;&nbsp;expired time, the screen should be locked</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Unlock<br>&nbsp;&nbsp;UHI</td>
    <td class="tg-s268">Unlocked<br>&nbsp;&nbsp;with "I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home<br>&nbsp;&nbsp;page should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Overview<br>&nbsp;&nbsp;Settings should be opened  with 9 tiles<br>&nbsp;&nbsp;displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1.Software Update<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Bildschrim Sperre<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Datum und Uhrzeit<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Individuelle Anpassungen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Wireless Hotspot<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Netwerk<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Sprache und Region<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Anzeige-optionen<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Registrierung</td>
  </tr>
  <tr>
    <td class="tg-s268">7</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Bildschrim Sperre tile</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">View<br>&nbsp;&nbsp;for screen lock should be displayed with following options: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Auto lock timer slider (1, 3, 5, 15 min)<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Logout and User change button</td>
  </tr>
  <tr>
    <td class="tg-s268">8</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Logout and User change button.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Screen<br>&nbsp;&nbsp;should be locked with "clock" appears.<br>&nbsp;&nbsp;&nbsp;&nbsp;Display: Date and outside temperature</td>
  </tr>
  <tr>
    <td class="tg-s268">9</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the clock</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Unlock<br>&nbsp;&nbsp;Pattern View should be displayed.</td>
  </tr>
  <tr>
    <td class="tg-s268">10</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Vergessen top left.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">An<br>&nbsp;&nbsp;popup with message "Das Entsperremuster ist ein "M" with OK<br>&nbsp;&nbsp;button in the bottom should be displayed.</td>
  </tr>
  <tr>
    <td class="tg-0lax">11</td>
    <td class="tg-0lax">Enter<br>&nbsp;&nbsp;unlock pattern</td>
    <td class="tg-0lax">Note<br>&nbsp;&nbsp;wiping pattern: end customer: M - &amp; # 62;no password required Installer:<br>&nbsp;&nbsp;I (middle from top to bottom) - &amp; # 62; PW: systemm customer service: I - &amp; # 62; PW: gdtskd</td>
    <td class="tg-0lax">System<br>&nbsp;&nbsp;M UHI should be opened.</td>
  </tr>
</table>