<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-1wig">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-0lax">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;settings (pull gearwheel from top to bottom)</td>
    <td class="tg-s268"> </td>
    <td class="tg-0lax">Settings<br>&nbsp;&nbsp;screen should be opened with 9 tiles from the mockup</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the tile Date and time.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Date<br>&nbsp;&nbsp;and Time should be appeared with pickers. </td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Manuel mode</td>
    <td class="tg-0lax">&gt;<br>&nbsp;&nbsp;Network is not necessary in this case<br>&nbsp;&nbsp;&nbsp;&nbsp;&gt; Manuel Date and Time cant set more than 3 months<br>&nbsp;&nbsp;older or earlier</td>
    <td class="tg-0lax">Date<br>&nbsp;&nbsp;and Time values should be changeable with top and botton arrows.</td>
  </tr>
  <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;the setup manuel time in WPM</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Date<br>&nbsp;&nbsp;and time should be transferred to the WPM. (Menu -&gt; Einstellungen -&gt;<br>&nbsp;&nbsp;Date and time screen)</td>
  </tr>
  <tr>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Automatik mode </td>
    <td class="tg-0lax">Network<br>&nbsp;&nbsp;is necessary in this case</td>
    <td class="tg-0lax">Date<br>&nbsp;&nbsp;and Time values should be greyed out and no more change is possible.</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;the Automatik time in WPM</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Date<br>&nbsp;&nbsp;and time should be transferred to the WPM. (Menu -&gt; Einstellungen -&gt;<br>&nbsp;&nbsp;Date and time screen)</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Manuel mode</td>
    <td class="tg-0lax">Remove<br>&nbsp;&nbsp;the network cable before selecting Automatik</td>
    <td class="tg-0lax">Date<br>&nbsp;&nbsp;and Time values should be changeable with top and botton arrows.</td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on Automatik mode</td>
    <td class="tg-0lax">Leave<br>&nbsp;&nbsp;the network cable disconnected from previous step</td>
    <td class="tg-0lax">Automatik<br>&nbsp;&nbsp;mode should not be available without network</td>
  </tr>
</table>