<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Open<br>&nbsp;&nbsp;Analyse screen (pull from left to right)</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view analysis should be displayed with nine tiles:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Kontroll-funktionen Pumpe<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Kontroll-funktionen Heizstab<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Kontroll-funktionen Mischer und Ventile<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Erzeugte Wärmemengen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Nächste Wartung<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Ein- und Ausgänge<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Anlagendaten<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Betriebsdaten<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Laufzeiten und Taktungen</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile Anlagen daten</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view should be opened with following information:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. UHI device ID, Software version<br>&nbsp;&nbsp;&nbsp;&nbsp;2. WPM serial number, SW version, Model<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Kältekreismodul SW version<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Wärmequellenmodul SW version</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;by PGD whether WPM version is correct</td>
    <td class="tg-s268">Menu<br>&nbsp;&nbsp;+ Enter -&gt; Dokumentation -&gt; Versionen</td>
    <td class="tg-s268">WPM<br>&nbsp;&nbsp;version should be as same as from WPM</td>
  </tr>
  <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;whether the serial numbers of the system match the PGD.</td>
    <td class="tg-0lax">Help:<br>&nbsp;&nbsp;(Menu + Enter -&gt; Menue + Mode -&gt; Diagnostics -&gt; Info diagnostic<br>&nbsp;&nbsp;-&gt; function code -&gt; Serial nummer)</td>
    <td class="tg-0lax">1.<br>&nbsp;&nbsp;Serial number should be matched with WPM. <br>&nbsp;&nbsp;&nbsp;&nbsp;2. First 2 digit should be read as ASCII code from WPM</td>
  </tr>
  <tr>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax">Click<br>&nbsp;&nbsp;on the close icon on the right top</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">New<br>&nbsp;&nbsp;view analysis should be displayed with nine tiles:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Kontroll-funktionen Pumpe<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Kontroll-funktionen Heizstab<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Kontroll-funktionen Mischer und Ventile<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Erzeugte Wärmemengen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Nächste Wartung<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Ein- und Ausgänge<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Anlagendaten<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Betriebsdaten<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Laufzeiten und Taktungen</td>
  </tr>
</table>