<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the left "screen" icon (Analysis) on the start page from left to<br>&nbsp;&nbsp;right.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view analysis should be displayed with nine tiles:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Kontroll-funktionen Pumpe<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Kontroll-funktionen Heizstab<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Kontroll-funktionen Mischer und Ventile<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Erzeugte Wärmemengen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Nächste Wartung<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Ein- und Ausgänge<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Anlagendaten<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Betriebsdaten<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Laufzeiten und Taktungen</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Ein- und Ausgänge tile</td>
    <td class="tg-s268">Options<br>&nbsp;&nbsp;are presented based on WPM config</td>
    <td class="tg-s268">A<br>&nbsp;&nbsp;new view should be presented with Eingänge and Ausgänge options:<br>&nbsp;&nbsp;&nbsp;&nbsp;Eingänge:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. ND Pressostat<br>&nbsp;&nbsp;&nbsp;&nbsp;2. HD Pressostat<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Thermostat Heißgas<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Smart Grid niedrig<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Smart Grid hoch<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Smart Grid normal<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Smart Grid Problem<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Motorschutz Verdichter<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Sperre EVU<br>&nbsp;&nbsp;&nbsp;&nbsp;10. Taupunktwächter<br>&nbsp;&nbsp;&nbsp;&nbsp;11. Umschaltung Kühlung<br>&nbsp;&nbsp;&nbsp;&nbsp;Ausgänge:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Verdichter 1<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Ventilator M2<br>&nbsp;&nbsp;&nbsp;&nbsp;3. 4-Wege-Ventil<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Düsenringheizung<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Pumpe M13<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Pumpe M16<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Pumpe M18<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Störung H5<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Rohrheizung</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;Eingänge options</td>
    <td class="tg-s268">&gt;<br>&nbsp;&nbsp;Simulate Eingänge options from test setup. <br>&nbsp;&nbsp;&nbsp;&nbsp;&gt; Check PGD under, Menu -&gt; Eingänge</td>
    <td class="tg-s268">All<br>&nbsp;&nbsp;Eingänge options from PGD should be matched with UHI options</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;Ausgänge options</td>
    <td class="tg-s268">&gt;<br>&nbsp;&nbsp;Simulate Eingänge options from test setup. <br>&nbsp;&nbsp;&nbsp;&nbsp;&gt; Check PGD under, Menu -&gt; Ausgänge</td>
    <td class="tg-s268">All<br>&nbsp;&nbsp;Ausgänge options from PGD should be matched with UHI options</td>
  </tr>
</table>