<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the right "Home" icon (status) from right to left.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view should be displayed. The<br>&nbsp;&nbsp;following tiles are displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. System Status<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Betriebsmodus<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Haus / Raumregulung<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Warmwasser</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile hot water.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Hot<br>&nbsp;&nbsp;water overview page should be opened with target temperature and actual<br>&nbsp;&nbsp;temperatures displayed</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Increase<br>&nbsp;&nbsp;the target temperature by pressing the slider on the right or by clicking on<br>&nbsp;&nbsp;the "Increase Button" (+).</td>
    <td class="tg-s268">Target<br>&nbsp;&nbsp;temperature 55 ° C</td>
    <td class="tg-s268">Target<br>&nbsp;&nbsp;temperature 55 ° C should be displayed and transferred to the WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;whether the setpoint temperature was correctly accepted in the WPM</td>
    <td class="tg-s268">Menu<br>&nbsp;&nbsp;+ Enter -&gt; operating data -&gt; hot water</td>
    <td class="tg-s268">Correct<br>&nbsp;&nbsp;hot water target temperature should be displayed in the WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Decrease<br>&nbsp;&nbsp;the target temperature by pressing the slider on the right or by clicking on<br>&nbsp;&nbsp;the "decrease button" (-).</td>
    <td class="tg-s268">Target<br>&nbsp;&nbsp;temperature 30 ° C</td>
    <td class="tg-s268">Target<br>&nbsp;&nbsp;temperature 30 ° C should be displayed and transferred to the WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268">7</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;whether the setpoint temperature was correctly accepted in the WPM</td>
    <td class="tg-s268">Menu<br>&nbsp;&nbsp;+ Enter -&gt; operating data -&gt; hot water</td>
    <td class="tg-s268">Correct<br>&nbsp;&nbsp;hot water target temperature is displayed in the WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268">8</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the "Close" icon on top right.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Homeview<br>&nbsp;&nbsp;should be displayed</td>
  </tr>
  <tr>
    <td class="tg-s268">9</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile hot water.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Hot<br>&nbsp;&nbsp;water overview page should be  opened<br>&nbsp;&nbsp;with target temperature and actual temperature displayed</td>
  </tr>
  <tr>
    <td class="tg-s268">10</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the arrow in the middle below.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Menu<br>&nbsp;&nbsp;should be opened opened with the hot water and thermal disinfection profiles.</td>
  </tr>
  <tr>
    <td class="tg-s268">11</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the arrow to the right of the WW Sperre</td>
    <td class="tg-s268">Time<br>&nbsp;&nbsp;slots are taken from WW individuals profile from settings screen</td>
    <td class="tg-s268">Wochenverlauf<br>&nbsp;&nbsp;should be displayed with the two set times which are activated or<br>&nbsp;&nbsp;deactivated. Weekview is<br>&nbsp;&nbsp;easy to use. All<br>&nbsp;&nbsp;days are easy to see</td>
  </tr>
  <tr>
    <td class="tg-s268">12</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;/ deactivate individual blocks.</td>
    <td class="tg-s268">Mo<br>&nbsp;&nbsp;- Z1 Di - Z2 Mi - Z1 - Z2 Do - Z1 - Z2 Fr - Z2 Sa - Z1 - Z2 So - Z1</td>
    <td class="tg-s268">Selected<br>&nbsp;&nbsp;blocks should be activated or deactivated and transferred to the WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268">13</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;whether the settings are correctly accepted in the WPM </td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;in PGD under, <br>&nbsp;&nbsp;&nbsp;&nbsp;(Menu + Enter -&gt; Einstellungen -&gt; Warmwasser -&gt; Warmwasser Sperre)</td>
    <td class="tg-s268">Correct<br>&nbsp;&nbsp;time blocks should be activated or deactivated in the WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268">14</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the arrow to the right of Thermal Disinfection.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Wochenverlauf<br>&nbsp;&nbsp;should be displayed with the two set times which are activated or<br>&nbsp;&nbsp;deactivated. Weekview is<br>&nbsp;&nbsp;easy to use. All<br>&nbsp;&nbsp;days are easy to see</td>
  </tr>
  <tr>
    <td class="tg-s268">15</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;/ deactivate individual blocks.</td>
    <td class="tg-s268">Mo<br>&nbsp;&nbsp;- Z1 Di - Z2 Mi - Z1 - Z2 Do - Z1 - Z2 Fr - Z2 Sa - Z1 - Z2 So - Z1</td>
    <td class="tg-s268">Selected<br>&nbsp;&nbsp;blocks should be activated or deactivated and transferred to the WPM.</td>
  </tr>
  <tr>
    <td class="tg-s268">16</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;whether the settings are correctly accepted in the WPM</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;in PGD under, <br>&nbsp;&nbsp;&nbsp;&nbsp;(Menu + Enter -&gt; Einstellungen -&gt; Thermische Desinfektion -&gt; Des.<br>&nbsp;&nbsp;Infektion Sperre)</td>
    <td class="tg-s268">Correct<br>&nbsp;&nbsp;time blocks should be activated or deactivated in the WPM.</td>
  </tr>
</table>