<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Set function<br>&nbsp;&nbsp;code 19 in the WPM. </td>
    <td class="tg-s268">(Menue + ESC<br>&nbsp;&nbsp;-&gt; Menue + Mode -&gt; Diagnostics -&gt; Info diagnostic -&gt; function<br>&nbsp;&nbsp;code)</td>
    <td class="tg-s268">New function<br>&nbsp;&nbsp;code should be accepted by WPM </td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Unlock<br>&nbsp;&nbsp;UHI</td>
    <td class="tg-s268">Unlocked<br>&nbsp;&nbsp;with "I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home<br>&nbsp;&nbsp;page should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the right "house" icon (status) from right to left.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view should be displayed with following tiles displayed: <br>&nbsp;&nbsp;&nbsp;&nbsp;1. Systemzustand<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Systemstatus (9 tiles config)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Betriebsmodus<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Raumregulung (and/or) Haus<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Warmwasser (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Lüftung (if applicable)</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile named House.</td>
    <td class="tg-s268">Preconfigure<br>&nbsp;&nbsp;HK 1 and HK 2 to Außentemperatur from EasyOn configuration (Please refer<br>&nbsp;&nbsp;UHI-30 for detailed steps)</td>
    <td class="tg-s268">Detail<br>&nbsp;&nbsp;view of HK1 with following details should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Jetzt temperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Ziel temperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Ribbon bar for adjusting temperatur with + and - buttons</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;the displayed System and Heizkurve <br>&nbsp;&nbsp;values for HK1 on the WPM. </td>
    <td class="tg-s268">To<br>&nbsp;&nbsp;verify values from PGD,<br>&nbsp;&nbsp;&nbsp;&nbsp;System temp: Menu + ESC -&gt; Betriebsdaten -&gt; Heizkreis 1 Ist<br>&nbsp;&nbsp;temp<br>&nbsp;&nbsp;&nbsp;&nbsp;Heizkurve value: Count number of blocks (filled) in home screen. Each one<br>&nbsp;&nbsp;represents 2k of Heizkurve value (if value is negative, blocks move to left<br>&nbsp;&nbsp;side. If positive, blocks move to right side)  </td>
    <td class="tg-s268">System<br>&nbsp;&nbsp;and Heizkurve values on the WPM should be as same as those on the system M.</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Set<br>&nbsp;&nbsp;a new Heizkurve value via the RibbonControll or the + buttons (in detail<br>&nbsp;&nbsp;view for HK1).</td>
    <td class="tg-s268">Heizkurve<br>&nbsp;&nbsp;value is not directly related to Ziel temperature</td>
    <td class="tg-s268">RibbonControll<br>&nbsp;&nbsp;should have smooth motion and sets the desired Heizkurve values in HK1</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;by PGD / WPM if all values ​​have been accepted.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">All<br>&nbsp;&nbsp;values ​​from the UHI should be matched with PGD / WPM values.</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Swiping<br>&nbsp;&nbsp;from right to left on the screen takes you from the 1st HK to the 2nd HK.</td>
    <td class="tg-0lax">WPM<br>&nbsp;&nbsp;should be configured with atleast 2 heating circuits (Festwert or Außentemp)</td>
    <td class="tg-0lax">Wiping<br>&nbsp;&nbsp;Haus screen should navigated to HK 2 </td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;the displayed System and Heizkurve <br>&nbsp;&nbsp;values for HK2 on the WPM. </td>
    <td class="tg-0lax">To<br>&nbsp;&nbsp;verify values from PGD,<br>&nbsp;&nbsp;&nbsp;&nbsp;System temp: Menu + ESC -&gt; Betriebsdaten -&gt; Heizkreis 2 Ist<br>&nbsp;&nbsp;temp<br>&nbsp;&nbsp;&nbsp;&nbsp;Heizkurve value: Count number of blocks (filled) in home screen. Each one<br>&nbsp;&nbsp;represents 2k of Heizkurve value (if value is negative, blocks move to left<br>&nbsp;&nbsp;side. If positive, blocks move to right side)  </td>
    <td class="tg-0lax">System<br>&nbsp;&nbsp;and Heizkurve values on the WPM should be as same as those on the system M.</td>
  </tr>
  <tr>
    <td class="tg-0lax">10</td>
    <td class="tg-0lax">Set<br>&nbsp;&nbsp;a new Heizkurve value via the RibbonControll or the + buttons (in detail<br>&nbsp;&nbsp;view for HK2).</td>
    <td class="tg-0lax">Heizkurve<br>&nbsp;&nbsp;value is not directly related to Ziel temperature</td>
    <td class="tg-0lax">RibbonControll<br>&nbsp;&nbsp;should have smooth motion and sets the desired Heizkurve values in HK2</td>
  </tr>
  <tr>
    <td class="tg-0lax">11</td>
    <td class="tg-0lax">Check<br>&nbsp;&nbsp;by PGD / WPM if all values ​​have been accepted.</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">All<br>&nbsp;&nbsp;values ​​from the UHI should be matched with PGD / WPM values.</td>
  </tr>
</table>