<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the left "screen" icon (Analysis) on the start page from left to<br>&nbsp;&nbsp;right.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view analysis should be displayed with nine tiles:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Kontroll-funktionen Pumpe<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Kontroll-funktionen Heizstab<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Kontroll-funktionen Mischer und Ventile<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Erzeugte Wärmemengen<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Nächste Wartung<br>&nbsp;&nbsp;&nbsp;&nbsp;6. Ein- und Ausgänge<br>&nbsp;&nbsp;&nbsp;&nbsp;7. Anlagendaten<br>&nbsp;&nbsp;&nbsp;&nbsp;8. Betriebsdaten<br>&nbsp;&nbsp;&nbsp;&nbsp;9. Laufzeiten und Taktungen</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the tile Betriebsdaten</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view should be displayed with follwoing date:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Allgemeine Betriebsdaten<br>&nbsp;&nbsp;&nbsp;&nbsp;2. 1.Heizkreis <br>&nbsp;&nbsp;&nbsp;&nbsp;3. 2.Heizkreis (if applicable)</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on Allgemeine Betriebsdaten</td>
    <td class="tg-s268">IST<br>&nbsp;&nbsp;temperatur in UHI should change when WPM Ist temperatur changes</td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;following options should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Außentemperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Warmwassertemperatur (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;3. Warmwassersolltemperatur (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;4. Vorlauftemperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;5. Rücklauftemperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;6. HK1 Ist-Temperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;7. HK1 Soll-Temperatur <br>&nbsp;&nbsp;&nbsp;&nbsp;8. HK2 Ist-Temperatur (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;9. HK2 Soll-Temperatur (if applicable)<br>&nbsp;&nbsp;&nbsp;&nbsp;10. Anlagendruck<br>&nbsp;&nbsp;&nbsp;&nbsp;11. Durchfluss<br>&nbsp;&nbsp;&nbsp;&nbsp;12. Hochdrucksensor<br>&nbsp;&nbsp;&nbsp;&nbsp;13. Niederdrucksensor<br>&nbsp;&nbsp;&nbsp;&nbsp;14. Statuswert<br>&nbsp;&nbsp;&nbsp;&nbsp;15. Sperrewert<br>&nbsp;&nbsp;&nbsp;&nbsp;16. Störwert<br>&nbsp;&nbsp;&nbsp;&nbsp;17. Fehlerwert</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;the values with PGD</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;PGD under, Menu -&gt; Betriebsdaten</td>
    <td class="tg-s268">All<br>&nbsp;&nbsp;values should be displayed as same as from PGD</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Comeback<br>&nbsp;&nbsp;to Betriebsdaten screen by clicking back button on left top</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view should be displayed with follwoing date:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Allgemeine Betriebsdaten<br>&nbsp;&nbsp;&nbsp;&nbsp;2. 1.Heizkreis <br>&nbsp;&nbsp;&nbsp;&nbsp;3. 2.Heizkreis (if applicable)</td>
  </tr>
  <tr>
    <td class="tg-s268">7</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on 1. Heizkreis Betriebsdaten</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">HK1<br>&nbsp;&nbsp;with following data should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Jetzt temperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heizkurve value (Außen) / Ziel temperatur (Festwert/Raumregulung)</td>
  </tr>
  <tr>
    <td class="tg-s268">8</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on 2. Heizkreis Betriebsdaten</td>
    <td class="tg-s268">If<br>&nbsp;&nbsp;applicable</td>
    <td class="tg-s268">HK2<br>&nbsp;&nbsp;with following data should be displayed:<br>&nbsp;&nbsp;&nbsp;&nbsp;1. Jetzt temperatur<br>&nbsp;&nbsp;&nbsp;&nbsp;2. Heizkurve value (Außen) / Ziel temperatur (Festwert/Raumregulung)</td>
  </tr>
</table>