<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-5ua9{font-weight:bold;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-5ua9">Step</th>
    <th class="tg-5ua9">Test steps</th>
    <th class="tg-5ua9">Test Data</th>
    <th class="tg-5ua9">Expected Result</th>
  </tr>
  <tr>
    <td class="tg-s268">1</td>
    <td class="tg-s268">Unlock UHI</td>
    <td class="tg-s268">Unlocked with<br>&nbsp;&nbsp;"I-symbol" (customer service level), password gdtskd</td>
    <td class="tg-s268">Home page<br>&nbsp;&nbsp;should be displayed correctly.</td>
  </tr>
  <tr>
    <td class="tg-s268">2</td>
    <td class="tg-s268">Drag<br>&nbsp;&nbsp;the left "screen" icon (Analysis) on the start page from left to<br>&nbsp;&nbsp;right.</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">New<br>&nbsp;&nbsp;view analysis should be displayed with nine tiles (From top left to bottom<br>&nbsp;&nbsp;right: Function check pump</td>
  </tr>
  <tr>
    <td class="tg-s268">3</td>
    <td class="tg-s268">Click<br>&nbsp;&nbsp;on the upper left tile Kontroll-funktionen Pumpe</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">The<br>&nbsp;&nbsp;Kontroll-funktionen Pumpe with a bold headline should appear. Among them, six possible pump<br>&nbsp;&nbsp;controls including sliding element are listed (control for pump M16, M13,<br>&nbsp;&nbsp;M15, M18, M2)</td>
  </tr>
  <tr>
    <td class="tg-s268">4</td>
    <td class="tg-s268">Check<br>&nbsp;&nbsp;different screens under Ausgänge option in PGD</td>
    <td class="tg-s268"> </td>
    <td class="tg-s268">Systemkontroll<br>&nbsp;&nbsp;should be activated with ! Mark appeared infront of all listed pumps</td>
  </tr>
  <tr>
    <td class="tg-s268">5</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;Erzeugerkreispumpe M16</td>
    <td class="tg-s268">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-s268">In<br>&nbsp;&nbsp;the PGD test value should be set based on Ausgänge time from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-s268">6</td>
    <td class="tg-s268">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-s268">Menu<br>&nbsp;&nbsp;+ Enter -&gt; Ausgänge</td>
    <td class="tg-s268">On<br>&nbsp;&nbsp;the PGD, a square should appear around the exclamation mark of the associated<br>&nbsp;&nbsp;pump M16 under Outputs and the associated pump M16</td>
  </tr>
  <tr>
    <td class="tg-s268">7</td>
    <td class="tg-s268">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-s268">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-s268">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-s268">8</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;heating circuit pump HK 1 M13</td>
    <td class="tg-s268">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-s268">In<br>&nbsp;&nbsp;the PGD test value should be set based on Ausgänge time from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-s268">9</td>
    <td class="tg-s268">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-s268">Menu<br>&nbsp;&nbsp;+ Enter -&gt; Ausgänge</td>
    <td class="tg-s268">On<br>&nbsp;&nbsp;the PGD, a square should appear around the exclamation mark of the associated<br>&nbsp;&nbsp;pump M13 under Outputs and the associated pump M13</td>
  </tr>
  <tr>
    <td class="tg-s268">10</td>
    <td class="tg-s268">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-s268">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-s268">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-s268">11</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;heating circuit pump HK 2 M15</td>
    <td class="tg-s268">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-s268">In<br>&nbsp;&nbsp;the PGD test value should be set based on Ausgänge time from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-s268">12</td>
    <td class="tg-s268">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-s268">Menu<br>&nbsp;&nbsp;+ Enter -&gt; Ausgänge</td>
    <td class="tg-s268">On<br>&nbsp;&nbsp;the PGD, a square should appear around the exclamation mark of the associated<br>&nbsp;&nbsp;pump M15 </td>
  </tr>
  <tr>
    <td class="tg-s268">13</td>
    <td class="tg-s268">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-s268">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-s268">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-s268">14</td>
    <td class="tg-s268">Activate<br>&nbsp;&nbsp;WW pump M18</td>
    <td class="tg-s268">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-s268">In<br>&nbsp;&nbsp;the PGD test value should be set based on Ausgänge time from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-0lax">15</td>
    <td class="tg-0lax">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;+ Enter -&gt; Ausgänge</td>
    <td class="tg-0lax">On<br>&nbsp;&nbsp;the PGD, a square should appear around the exclamation mark of the associated<br>&nbsp;&nbsp;pump M18</td>
  </tr>
  <tr>
    <td class="tg-0lax">16</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-0lax">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-0lax">17</td>
    <td class="tg-0lax">Activate<br>&nbsp;&nbsp;pump M24</td>
    <td class="tg-0lax">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-0lax">In<br>&nbsp;&nbsp;the PGD test value should be set based on Ausgänge time from Systemkontroll</td>
  </tr>
  <tr>
    <td class="tg-0lax">18</td>
    <td class="tg-0lax">Counter-control<br>&nbsp;&nbsp;by PGD under outputs.</td>
    <td class="tg-0lax">Menu<br>&nbsp;&nbsp;+ Enter -&gt; Ausgänge</td>
    <td class="tg-0lax">On<br>&nbsp;&nbsp;the PGD, a square should appear around the exclamation mark of the associated<br>&nbsp;&nbsp;pump M24</td>
  </tr>
  <tr>
    <td class="tg-0lax">19</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-0lax">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-0lax">20</td>
    <td class="tg-0lax">Activate<br>&nbsp;&nbsp;Ventilator M2</td>
    <td class="tg-0lax">Slide<br>&nbsp;&nbsp;right in the UHI.</td>
    <td class="tg-0lax">Ventilator<br>&nbsp;&nbsp;should be activated in WPM and can be checked from Ausgange</td>
  </tr>
  <tr>
    <td class="tg-0lax">21</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;at the UHI. Control on<br>&nbsp;&nbsp;the outdoor unit</td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-0lax">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
  <tr>
    <td class="tg-0lax">22</td>
    <td class="tg-0lax">At<br>&nbsp;&nbsp;the UHI close the tileKontroll-funktionen Pumpe.Control at the PGD</td>
    <td class="tg-0lax"> </td>
    <td class="tg-0lax">Previous<br>&nbsp;&nbsp;View Analysis should  appear in<br>&nbsp;&nbsp;Ausgänge. Hook on the PGD<br>&nbsp;&nbsp;must be disappeared</td>
  </tr>
  <tr>
    <td class="tg-0lax">23</td>
    <td class="tg-0lax">Furthermore,<br>&nbsp;&nbsp;it can be checked whether several sliders can be operated simultaneously.</td>
    <td class="tg-0lax">M16,<br>&nbsp;&nbsp;M13, M15, M18, M2</td>
    <td class="tg-0lax">All<br>&nbsp;&nbsp;pumps should be activated in the PGD with squares around exclamation<br>&nbsp;&nbsp;marks </td>
  </tr>
  <tr>
    <td class="tg-0lax">24</td>
    <td class="tg-0lax">Control<br>&nbsp;&nbsp;at the UHI. Control at<br>&nbsp;&nbsp;the PGD</td>
    <td class="tg-0lax">Function<br>&nbsp;&nbsp;of the pump is checked for Ausgänge time from Systemkontroll.</td>
    <td class="tg-0lax">Slider<br>&nbsp;&nbsp;at UHI should return to starting position. Square disappears at the PGD</td>
  </tr>
</table>